<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" href="image/favicon.ico">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/user/findId.css">
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <!-- <th:block th:if="" th:replace="fragments/header/headerLogin :: headerFragment"></th:block> 로그인시 띄울 헤더 -->
    <div id="container">
    	<div id="content">
    		<div id="headline">
		    	<img src="image/Stim_white.png" alt="stim" id="stim_img">
		    	<h2>아이디를 잊으셨나요?</h2>
		    	<span>계정을 등록할 때 사용한 이메일을 입력해주세요.</span>
    		</div>
    		<form action="/findid" method="post">
	    		<label>
			        <input type="email" name="email" id="email" placeholder="이메일 주소">
	    		</label>
	    	</form>
	    	<div id="find_btn">
		    	<button type="submit">
		    		<span>아이디 찾기</span>
		    	</button>
		    </div>
		    <a href="/findPw" id="findPw_btn">
	    		<span>비밀번호 찾기</span>
	    	</a>
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>