<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" href="image/favicon.ico">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/user/loginForm.css">
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <!-- <th:block th:if="" th:replace="fragments/header/headerLogin :: headerFragment"></th:block> 로그인시 띄울 헤더 -->
    <div id="container">
    	<div id="content">
    		<div id="headline">
		    	<img src="image/Stim_white.png" alt="stim" id="stim_img">
    		</div>
	    	<form action="/login" method="post">
	    		<label>
	    			<span class="login_text">Stim 계정 이름</span>
			        <input type="text" name="id" id="id">
	    		</label>
	    		<label>
	    			<span class="login_text">비밀번호</span>
		        	<input type="password" name="password" id="password">
	    		</label>
	    	</form>
	    	<div id="login_btn">
		    	<button type="submit">
		    		<span>로그인</span>
		    	</button>
		    	<div class="find_user">
		    		<a href="/findId">아이디를 잊어버리셨나요?</a>
		    	</div>
		    	<div class="find_user">
		    		<a href="/findPw">비밀번호를 잊어버리셨나요?</a>
		    	</div>
	    	</div>
	    	<a href="/registerS1" id="register_btn">
	    		<span>Stim 회원가입</span>
	    	</a>
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>