<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/user/loginForm.css}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="content">
    		<div id="headline">
		    	<img th:src="@{/image/Stim_white.png}" alt="stim" id="stim_img">
    		</div>
	    	<form action="/login" method="post">
	    		<label>
	    			<span class="login_text">Stim 계정 이름</span>
			        <input type="text" name="user_id" id="user_id">
	    		</label>
	    		<label>
	    			<span class="login_text">비밀번호</span>
		        	<input type="password" name="user_password" id="user_password">
	    		</label>
	    		<label>
	    			<input type="checkbox" id="rememberId">
	    			<span class="checkboxText">아이디 저장</span>
	    		</label>
	    		<label>
	    			<input type="checkbox" id="rememberMe" name="remember-me">
	    			<span class="checkboxText">로그인 유지</span>
	    		</label>
		    	<button type="submit" id="login_btn">
		    		<span>로그인</span>
		    	</button>
	    	</form>
	    	<a href="/oauth2/authorization/google"><img class="loginIcon" th:src="@{/image/googleLoginIcon.png}"></a>
	    	<a href="/oauth2/authorization/naver"><img class="loginIcon" th:src="@{/image/naverLoginIcon.png}"></a>
	    	<a href="/oauth2/authorization/kakao"><img class="loginIcon" th:src="@{/image/kakaoLoginIcon.png}"></a>
	    	<div id="find_btn">
		    	<div class="find_user">
		    		<a href="/findId">아이디를 잊어버리셨나요?</a>
		    	</div>
		    	<div class="find_user">
		    		<a href="/findPw">비밀번호를 잊어버리셨나요?</a>
		    	</div>
	    	</div>
	    	<a href="/registerS1" id="register_btn">
	    		<span>Stim 회원가입</span>
	    	</a>
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>