@charset "UTF-8";
#container{
	display: inline-block;
	width: 100%;
	height: auto;
    background-color: #0E1B49;
    min-width: 1500px;
}
#contents{
	display: table;
	width: 80%;
	margin: 0 auto;
	max-width: 1560px;
	padding-left: 90px;
	min-height: 1400px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
#contents h1{
	color: white;
	padding: 30px 0 15px;
}

/* contents */
.gameInformation{
	float: left;
	display: flex;
	flex-direction: column;
}
#gameImg{
	width: 1050px;
	min-height: 1310px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.3);
}
#gameMain{
	margin-left: 20px;
	width: 890px;
	height: 500px;
	background-color: #eee;
}
#aboutGame{
	color: white;
	padding: 20px 10px 20px 20px;
	min-height: 810px;
	height: auto;
}
#gameSection{
	width: 1020px;
	height: 130px;
}
#gameSection p{
	font-size: 7px;
	float: right;
	padding-right: 5px;
	padding-bottom: 7px;
	color: #aaa;
}
#gameContext{
	width: 920px;
	float:left;
	padding: 0 5px 0 25px;
}
#gameGradeSection{
	width: 100px;
	height: 100px;
	float:left;
	overflow: hidden;
}
#gameGrade{
	width: 1020px;
	height: 180px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
}

#reply_form > label{
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}

#grade_g, #grade_b {
	margin-right: 10px;
}

#grade_context{
	width: 980px;
	height: 100px;
	resize: none;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
}

#reply_submit {
	padding: 5px 10px;
	border-radius: 10px;
	margin-top: 5px;
	float: right;
	cursor: pointer;
}	

.reply_list{
	margin-top: 10px;
	width: 1020px;
	min-height: 120px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	display: flex;
}

#reply_picture {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
}

.reply_content {
	padding: 10px 0px 20px 20px;
	width: 810px;
	min-height: 100px;
	height: auto;
	float: left;
	word-break:break-all;
	word-wrap:break-word;
}
.reply_update {
	margin-top: 10px;
	margin-left: 40px;
	display: none;
}
.update_context {
	width: 100%;
	height: 80px;
	resize: none;
	padding: 5px 10px;
	font-size: 18px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	display: block;
}
.reply_update > form > button {
	margin-top: 5px;
	margin-right: 10px;
	float: right;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
}
.user_nickname {
	font-size: 1.2em;
	font-weight: 600;
}

.grade_regdate {
	float: right;
}

#grade_rateG, #grade_rateB {
	margin-left: 40px;	
}

#grade_rateG {
	color: #00AEEF;
}

#grade_rateB {
	color: red;
}

.grade_context{
	max-width: 790px;
	padding-left: 40px;
	padding-top: 10px;
}
.textCount, .textTotal {
	float: left;
}

.reply_deletebtn {
	float: right;
	width: 50px;
	height: 30px;
	padding: 2px 5px;
	border-radius: 10px;
	margin: 10px;	
	cursor: pointer;
}
.reply_updatebtn {
	float: right;
	width: 50px;
	height: 30px;
	padding: 2px 5px;
	border-radius: 10px;
	margin: 10px;	
	cursor: pointer;
}


.paginate {
	margin: 10px;
	text-align: center;
}

.prevBtn, .nextBtn {
	display: inline-block;
	margin: 0 10px;
}

.naviText {
	color: white;
}

.naviTextB {
	color: rgba(0,0,0,0.3);
}

.pageText {
	color: white;
}


/* 바 */
#gameInfo{
	display: inline-block;
	width: 320px;
	min-height: 1310px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ccc;
	right: 0;
}

#barBackground{
	display: inline-block;
	width: 320px;
	min-height: 1310px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
#barText{
	width: 300px;
	height: 450px;
	background-color: transparent;
	position: sticky;
	top: 288px;
	padding: 10px;
}
#miniImg img{
	width:270px;
	height: 135px;
}
#barText ul{
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.1);
	width: 270px;
	height: 270px;
}
#barText ul li{
	margin-bottom: 10px;
	font-size: 10px;
}
.liText{
	padding-left: 10px;
}
.liText span{
	color: white;
	font-size: 11px;
	font-weight: 600;
}
.wishCart{
	margin: 10px auto;
	width: 270px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0);
	text-align: center;
	padding: 8px;
	border-radius: 3px;
}
.wishCart:hover{
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.1);
}
.wishCart button{
	width: 100%;
	height: 100%;
	color: white;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0);
	font-size: 16px;
}
.wishCart button:hover, button:focus{
	color: #00AEEF;
	font-weight: 600;
	cursor: pointer;
}
#payNow{
	background-color: rgba(0, 174, 239, 0.7);
}
#payNow:hover{
	background-color: rgba(0, 0, 0, 0.9);
}

