@charset "UTF-8";
#container{
	width: 100%;
	height: 100%;
    background-color: #0E1B49;
    min-width: 1500px;
}
#contents{
	width: 80%;
	margin: 0 auto;
	max-width: 1560px;
	padding-left: 90px;
	height: 1400px;
	background-color: rgba(0, 0, 0, 0.3);
}
#contents h1{
	color: white;
	padding: 30px 0 15px;
}



/* contents */
.gameInformation{
	float: left;
	display: flex;
	flex-direction: column;
}
#gameImg{
	width: 1050px;
	height: 1310px;
	background-color: rgba(0, 0, 0, 0.3);
}
#gameMain{
	margin-left: 20px;
	width: 890px;
	height: 500px;
	background-color: #eee;
}
#aboutGame{
	color: white;
	padding: 20px 10px 20px 20px;
	height: 810px;
}
#gameSection{
	height: 100px;
}
#gameGrade{
	width: 1020px;
	height: 680px;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 20px;
}


#reply_form{
	width: 100%;
	height: 90px;
}
#reply_form input[type=radio]{

}
#grade_context{
	width: 80%;
	height: 90px;
	resize: none;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid white;
	color: white;
}
#reply_lists img{
	width: 100px;
	height: 100px;
}
.reply_list{
	display: flex;
	margin-top: 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.grade_content{
	padding-left: 20px;
}


/* 바 */
#gameInfo{
	width: 320px;
	height: 1310px;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ccc;
	right: 0;
}
#barBackground{
	width: 320px;
	height: 1310px;
	background-color: rgba(0, 0, 0, 0.3);
}
#barText{
	width: 300px;
	height: 450px;
	background-color: transparent;
	position: sticky;
	top: 288px;
	padding: 10px;
}
#miniImg img{
	width:270px;
	height: 135px;
}
#barText ul{
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.1);
	width: 270px;
	height: 270px;
}
#barText ul li{
	margin-bottom: 10px;
	font-size: 10px;
}
.liText{
	padding-left: 10px;
}
.liText span{
	color: white;
	font-size: 11px;
	font-weight: 600;
}
.wishCart{
	margin: 10px auto;
	width: 270px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(0, 0, 0, 0);
	text-align: center;
	padding: 8px;
	border-radius: 3px;
}
.wishCart:hover{
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.1);
}
.wishCart button{
	color: white;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0);
	font-size: 16px;
}
.wishCart button:hover, button:focus{
	color: #00AEEF;
	font-weight: 600;
	cursor: pointer;
}
#payNow{
	background-color: rgba(0, 174, 239, 0.7);
}
#payNow:hover{
	background-color: rgba(0, 0, 0, 0.9);
}

