### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
stim/src/main/resources/static/image/game/3330db47-44bb-4cbf-873a-5c3be2f866dd_Stim_logo.png
