<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<title th:text="'Steam Community :: ' + ${user.user_nickname} "></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile/profile.css}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/profile/profile.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="content">
	        <!--프로필, 프로필 수정-->
	        <div id="profile">
	        	<input type="hidden">
	            <div id="profile_avartar"><!-- 프로필 이미지-->
	                <img th:src="@{/image/profile/} + ${user.user_picture}" alt="프사">
	                <a sec:authorize="isAuthenticated()" th:if="${user.user_code == #authentication.principal.user_code}" th:href="|javascript:changPicture(${user.user_code})|"><span>&lt;프로필 사진 변경&gt;</span></a>
	            </div>
	            <div id="profile_id"> <!--프로필 아이디, 출신-->
	                <h2 th:text="${user.user_nickname}"></h2>
	                <p th:text="${user.user_id}"></p>
	            </div>
	            <div id="profile_introduce" th:text="${context}"></div> 
	            <div id="profile_textarea">
	            	<form action="">
	            		<input id="profileUser_code" name="user_code" type="hidden" th:value="${user.user_code}">
	            		<textarea id="profile_context" name="profile_context"></textarea>
	            		<button type="button" th:onclick="edit_context()">작성</button>
	            	</form>
	            </div>
	            <!--프로필 수정-->
		        <div class="profile_fix" sec:authorize="isAuthenticated()" th:if="${user.user_code == #authentication.principal.user_code}">
		        	<button id="profile_update" th:onclick="|location.href='@{'/profile/edit/'+${user.user_code}}'|">
		        		<span>정보 수정</span>
		        	</button>
		        	<button id="profile_contextUpdate" onclick="changeMessage()">
		        		<span>메시지 수정</span>
		        	</button>
		        </div>  
	        </div>       
	        
			<div id="profile_left">
				<div id="comment_paging">
		        		<div id="comment_page1"><h3>댓글</h3></div>
		        		<div class="comment_page">
		        			<div >
		        				<a> <span th:text="${#lists.size(list)}"></span> 개의 댓글 </a>
		        			</div>
						</div>
				</div>
			 	<div class="profile_content">
					<div sec:authorize="isAuthenticated()" class="comment_write">
						<a id="comment_write_a"> <img alt="프로필 사진" th:src="@{'/image/profile/'+${#authentication.principal.user_picture}}"> </a>
						<form id="comment_form" th:action="@{/comment}" method="post">
							<input type="hidden" id="user_code" name="user_code" th:value="${user.user_code}">
							<input type="hidden" id="user_id" name="user_id" th:value="${user.user_id}"> 
							<input type="hidden" id="writer_code" name="writer_code" th:value="${#authentication.principal.user_code}"> <!-- 로그인 시 value가 로그인 한 사람 값이 되야함 -->
							<textarea id="comment_text" rows="5" cols="60" name="comment_text" placeholder="댓글 써줘요" wrap="soft" ></textarea>
							<input id="comment_submit" name="comment_InsertBtn" type="button" value="댓글 남기기" onclick="inputComment()">	
								<span class="textTotal">/230</span>
								<span class="textCount">0</span>	
						</form>
					</div>
				</div>
				<div class="comment_package">
					<div id="comment_lists">
						<div class="comment_list" th:each="list : ${list}" th:id="|mentListBox${list.comment_code}|">
							<div class="comment_image">
								<a> <img alt="프로필 사진" th:src="@{/image/profile/} + ${list.user_picture}" th:onclick="|location.href='/profile/${list.writer_code}'|"> </a>
							</div>
							<div class="comment_content">
								<div class="comment_nickname" th:text="${list.comment_nickname}" th:onclick="|location.href='/profile/${list.writer_code}'|"></div> 
								<span class="comment_regdate" th:text="${#dates.format(list.profile_regdate,'yyyy년 MM월 dd일 HH시 mm 분')}"></span>
								<div class="comment_context" th:text="${list.comment_context}"></div>
								<button sec:authorize="isAuthenticated()" class="comment_deletebtn" th:if="(${user.user_code == #authentication.principal.user_code} or ${list.writer_code == #authentication.principal.user_code}) and ${#strings.equals(#authentication.principal.user_admin, 'N')}" th:onclick="|deleteComment(${list.comment_code})|">삭제</button>
								<button sec:authorize="isAuthenticated()" class="comment_deletebtn" th:if="${#strings.equals(#authentication.principal.user_admin, 'Y')}" th:onclick="|deleteComment(${list.comment_code})|">삭제</button>
							</div>
						</div>
					</div>	
				</div>
			</div>
	        
	        
	        <div class="profile_right" sec:authorize="isAuthenticated()">
	        		<!-- 게임 목록 -->
	        		<div>	
						<div class="game_lists" th:if="${not #lists.isEmpty(game_list)}">
							<span>게임 목록</span>
							<div th:each="game_list : ${game_list}"class="game_list">
								<div class="game_picture">
									<img alt="게임 사진" th:src="@{/image/game/} + ${game_list.game_picture}">
								</div>
								<div class="game_content">
									<span class="game_name" th:text="${game_list.game_name}"></span>
								</div>
							</div>		
						</div>
					</div>
	        		<!-- 친구 요청 목록 -->
					<div class="friend_request">	
						<span th:if="${not #lists.isEmpty(request)}"><strong>친구 요청</strong></span>
						<div th:each="request : ${request}" th:id="|reqList${request.friend_code}|">		
							<div class="friend_req">			
								<img class="friend_request_picture" alt="req_profile" th:src="@{/image/profile/} + ${request.req_picture}">
								<div class="friend_req_nickname"><span th:text="${request.req_nickname}"></span></div>
								<div class="friend_request_btn">
									<button class="friend_request_approval_btn" th:onclick="|location.href='@{/friend/approval(friend_code = ${request.friend_code}, user_code = ${user.user_code})}'|" > O </button>
									<button class="friend_request_delete_btn" th:onclick="|deleteRequest(${request.friend_code})|">X</button>		
								</div>					
							</div>
						</div>	
					</div>
					<!-- 친구 목록 -->
					<div class="friends">
						<a> 친구 <span class="friend_count" th:text="${#lists.size(f_list)}"></span> 명 </a>
						<br>
						<div class="friend_lists">
							<div class="friend_list" th:each="f: ${f_list}" th:id="|friend_List${f.friend_code}|">
								<div class="friend_picture">
									<img alt="프로필 사진" th:src="@{/image/profile/} + ${f.friend_picture}" >
								</div>
								<div class="friend_content">
									<span class="friend_nickname" th:text="${f.friend_nickname}"></span>
								</div>
								<div class="friend_btn">
									<button sec:authorize="isAuthenticated()" th:if="${user.user_code == #authentication.principal.user_code}" class="friend_delete" th:onclick="|deleteMyFriend(${f.friend_code})|" >X</button>
								</div>
							</div>
						</div>
					</div>
					
				</div>
	        <div class="comment_footer">
	        </div>
	    </div>
    </div>	
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>