<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile/profile.css}">
	<title th:text="'Steam Community :: ' + ${user.user_nickname} "></title>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <!-- <th:block th:if="" th:replace="fragments/header/headerLogin :: headerFragment"></th:block> 로그인시 띄울 헤더 -->
    <div id="container">
    	<div id="content">
		        <!--프로필, 프로필 수정-->
		        <div id="profile">
		            <div id="profile_avartar"><!-- 프로필 이미지-->
		                <img th:src="@{/image/profile/} + ${user.user_picture}" alt="프사">
		            </div>
		            <div id="profile_id"> <!--프로필 아이디, 출신-->
		                <h2 th:text="${user.user_nickname}"></h2>
		                <br>
		                <p th:text="${user.user_id}"></p>
		            </div>
		            <div id="profile_introduce">
		                테스트입니다
		            </div>
		        </div>
		        <!--프로필 수정-->
		        	<div id="profile_update">
		        		<a th:href="@{'/profile/edit/'+${user.user_id}}"> <div>Edit profile</div></a>
		        	</div>
		        <!--댓글 페이징-->
		        <div id="comment_paging">
		        	<div>
		        		<div id="comment_page1"><h3>댓글</h3></div>
		        		<div class="comment_page">
		        			<div >
		        				<a> <span th:text="${#lists.size(list)}"></span> 개의 모든 댓글 보기</a>
								<!-- <a>&lt;</a>
								<span>1,2,3</span> 페이지 수
								<a>&gt;</a> -->
		        			</div>
			        		
						</div>
		        	</div>
				</div>
		        <!-- 댓글,친구창 -->
		        <div class="profile_content">
		       		<!--친구창-->
					<div class="profile_right">
						<!-- 친구 : num -->
						<div>
							<a href="/${user_id}/{friends}"> &nbsp; <span>친구</span> &nbsp; <span>${friends}</span>  </a>
						</div>
						<!-- 친구 목록 -->
					</div>
					<div class="profile_left">
						<!-- 로그인 시 보이게 해야함 -->
						<div class="comment_write">
							<a id="comment_write_a"> <img alt="프로필 사진" th:src="@{/image/profile/} + ${user.user_picture}"> </a>
							<form id="comment_form" th:action="@{/comment}" method="post">
								<input type="hidden" name="user_code" th:value="${user.user_code}">
								<input type="hidden" name="user_id" th:value="${user.user_id}"> 
								<input type="hidden" name="writer_code" th:value="2"> <!-- 로그인 시 value가 로그인 한 사람 값이 되야함 -->
								<textarea id="comment_text" name="comment_text" rows="5" cols="20" placeholder="댓글 써줘요" ></textarea>
								<!-- <input type="submit" value="댓글 남기기" th:onclick="|insertComment(${user.user_code},2,comment_text)|" > --> <!-- 2 바꿔야함 writer_code임 -->
								<input type="submit" value="댓글 남기기">
							</form>
						</div>
						<div class="comment_list" th:each="list : ${list}" th:id="|mentListBox${list.comment_code}">
							<div class="comment_image">
								<a id="comment_write_a"> <img alt="프로필 사진" th:src="@{/image/profile/} + ${list.user_picture}"> </a>
							</div>
							<div class="comment_content">
								<span class="comment_nickname" th:text="${list.comment_nickname}"></span>
								<span class="comment_context" th:text="${list.comment_context}"></span>
								<span class="comment_regdate" th:text="${'작성 일 :' + #dates.format(list.profile_regdate,'yyyy-MM-dd HH:mm')}"></span>
							</div>
						</div>
					</div>
		        </div>
		        <div class="comment_footer">
		        	<div class="comment_page">
							<a>&lt;</a>
							<span>1,2,3</span> <!-- 페이지 수 -->
							<a>&gt;</a>
					</div>
		        </div>
		        
		        <div id="friends">
					
					<div>
					</div>
		        </div>
		    </div>
    </div>	
    <!-- footer fragment 사용 -->
    <!-- <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
    <script th:inline="javascript">
    	function insertComment(user_code, user_id, writer_code, comment_text){
    		$.ajax({
    			url: "comment",
    			type: "POST",
    			async: true,
    			data: {
    				"user_code" : user_code,
    				"user_id" : user_id,
    				"writer_code" : writer_code,
    				"comment_text" : comment_text
    			}, datatype: "text",
    			success : function(data){
    				alert("ss");
    				'#mentListBox' + writer_code.append()
    			}
    		});
    	}
    </script> -->
</body>
</html>