<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile/searchUserForm.css}">
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="content">
    		<div class="searchUserBox">
    			<h1>친구 찾기</h1>
    			<span>닉네임으로 사용자 검색하기</span>
    			<form action="searchUser" method="post">
	    			<input type="text" name="user_nickname" id="user_nickname" placeholder="미입력시 유저를 랜덤검색 합니다.">
	    			<input type="submit" id="submit" value="검색">
    			</form>
    		</div>
    		<div id="searchedUser" th:if="${!#lists.isEmpty(userList)}">
    			<div class="userListBox" th:each="user:${userList}">
    				<img th:src="|@{/image/profile/user.user_picture}|">
    				<span th:text="${user.user_nickname}"></span>
    				<div id="friend_btn" sec:authorize="isAuthenticated()">
	    				<button th:if="${#strings.isEmpty(user.friend_accepted)}">친구 요청</button>
	    				<span th:if="${#strings.equals(user.friend_accepted, 'N')}">친구 요청 중...</span>
	    				<span th:if="${#strings.equals(user.friend_accepted, 'Y')}">친구</span>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>