@charset "UTF-8";

/* 화면 전체 크기 */
div{
	display:block;
}
#container{
    min-width: 800px;
    width: 100%;
    height: 100vh;
    background-color: #040205;
    margin: 0 auto;
}
/* 프로필 전체 크기 */
#content{
    width: 60%;
    height: 100vh;
    background-color: #262B2F;
    margin : 0 auto;
    z-index: 1;
}
/* 프로필 정보 부분 */
#profile{
    width: 80%;
    height: 25vh;
    background-color: #262B2F;
    position: relative;
    display: inline-block;
}
/* 프로필 사진 */
#profile_avartar{
    float: left;
    width: 184px;
    height: 184px;
    margin: 3%;
}
#profile_avartar > button {
	border: none;
	background-color: transparent;
	z-index: 10;
}
#profile_avartar > button:hover {
	cursor: pointer;
}
/* 프로필 아이디 */
#profile_id{
    float: left;
    list-style: none;
    color: rgb(228, 228, 228);
    width: 40%;
    height: 30%;
    padding-left: 10px;
    padding-top: 15px;
}
#prifile_id p{
    float: left;
    width: 20%;
}
/* 프로필 자기소개 */
#profile_introduce{ 
	float:left;
    width: 60%;
    height: 60%;
    margin-top:3%;
    background-color: #262B2F;
    color: rgb(228, 228, 228);
    padding-left:10px;
}
/* 프로필 닉네임, 출신 국가 */
#profile_update{
    float: right;
    width: 15%;
    height: 5%;
    margin-top: 5%;
    margin-right: 3%;
    background-color: rgb(74, 79, 88);
    border: none;
    font-size: 100%;
    color: rgb(228, 228, 228);
}
#profile_update:hover{
	outline: 4px solid skyblue;
	transition-duration:initial;
	color : skyblue;
}
#profile_update > a{
	margin-top: 1vh;
	font-size: 22px;
	text-decoration: none;
	color: rgb(228, 228, 228);
}
#profile_update > a > span{
	text-align: center;
	margin-top: 1vh;
}
#comment_paging{
	width: 66%;
	height: 5%;
	background-color:#131517;
	margin: 2.25%;
	border-radius: 7px;
	color: rgb(228, 228, 228);
}
#comment_paging > div{
	line-height: 5vh;
}
.comment_page{
	float:right;
	display:block;
	margin-right:20px;
}
.comment_page div,button{
	display:inline-block;
}
#comment_page1{
	float:left;
	width: 30%;
	margin-left: 1vw;
}
.comment_footer{
	margin-top: 6px;
    border-top: 2px solid #363f4c;
    color: rgb(228, 228, 228);
    width: 66%;
    margin-left:1.5vw;
}
.profile_content{
	position: relative;
	width: 95%;
	height: 55%;
	background-color: #262B2F;
	margin-left:1.2vw;
}
.profile_right{
	width:28%;
	height:98%;
	background-color: #1B1E21;
	float:right;
	z-index: 1;
}
.profile_right> div > a{
	text-decoration: none;
	color:white;
	font-size: 20px;
	font-weight: bold;
}
.profile_left{
	width:69%;
	height:98%;
	background-color: #363f4c;
	z-index: 1;
	border-radius: 10px;
	float:left;
	color:white;
	margin-left: 0.5%;
}
.comment_write{
	width:730px;
	background-color: gray;
	display:inline-block;
}

#comment_write_a {
	margin: 20px;
	display:inline-block;
}
#comment_write_a > img{
	width: 80px;
	height: 80px;
}
#comment_form{
	width: 600px;
	height : 100px;
	display: inline-block;
}
#comment_text{
	display: inline-block;
	height: 80px;
	width: 600px;
}
#comment_text::placeholder{
	position:absolute;
	top: 20px;
	left: 20px;
	color: #363f4c;
	font-size: 20px;
	font-weight: bold;
}