@charset "UTF-8";

#container{
    min-height: 800px;
}

#content {
	min-width: 600px;
	margin: 0 auto;
	text-align: center;
	color: white;
	font-size: 1.6em;
	padding-top: 50px;
}

.small_header{
	margin: 0 auto;
	width: 1200px;
	background-color: rgba(58, 62, 71, 0.5);
	color: rgb(228, 228, 228);
	height: 120px;
	max-height: 160px;
	max-width: 1200px;
	line-height: 120px;
}
.small_header > img{
	width: 80px;
	height: 80px;
	margin-top: 20px;
	margin-left: 30px;
	float: left;
}
.small_header > p {
	float: left;
	width: 600px;
	text-align: left;
	margin-left: 60px;
}
.small_header > p > strong {
	font-size: 1.4em;
	margin-right: 30px;
}
.small_header > button {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
	padding: 5px 5px;
	border-radius: 5px;
}
.small_header > button:hover {
	cursor: pointer;
}
#update_form{
	width: 400px;
	margin: 0 auto;
	text-align: left;
	margin-top: 40px;
}

.userUpdate_text {
	display: block;
	font-size:20px;
	color: rgba(255,255,255,0.4);
	margin-bottom: 10px;
	margin-top: 10px;
}

#user_id, #user_password, #password_confirm, #user_email, #user_phone, #user_nickname {
	width: 100%;
	height: 40px;
	background: #0E1B49;
    border-radius: 3px;
    color: #E9E9E9;
    font-size: 0.8em;
    padding: 4px 20px;
    display: block;
    box-shadow: none;
    transition: border ease-in-out .5s;
    border: 1px solid white;
    outline: none;
}

.input_error {
	font-size: 0.6em;
	color: red;
}

#userUpdate_btn {
	width: 328px;
	margin: 30px auto;
	font-size: 0.8em;
}

#userUpdate_btn > button {
	border-radius: 2px;
    border: none;
    cursor: pointer;
    display: inline-block;
    color: #c3e1f8;
    background: transparent;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
}

#userUpdate_btn > button[type="submit"] {
	margin-right: 20px;
}

#userUpdate_btn > button > span {
	width: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 2px;
    display: inline-block;
	background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    background-position: 25%;
    background-size: 330% 100%;
}