@charset "UTF-8";

/* 화면 전체 크기 */
div{
	display:block;
}
*{	
	padding : 0;
	margin : 0 auto;
}
#container{
	display: inline-block;
    min-width: 1200px;
    width: 100%;
    height: auto;
    min-height: 1000px;
    background-color: #040205;
    margin: 0 auto;
}
/* 프로필 전체 크기 */
#content{
	display:table;
    width: 1200px;
    min-height: 1000px;
    background-color: #262B2F;
    margin : 0 auto;
    z-index: 1;
    position:relative;
    height: 100%;
}
/* 프로필 정보 부분 */
#profile{
    width: 1200px;
    height: 250px;
    background-color: #262B2F;
    position: relative;
    display: inline-block;
}
/* 프로필 사진 */
#profile_avartar{
    float: left;
    width: 184px;
    margin: 30px;
    text-align: center;
}
#profile_avartar > img {
	width: 184px;
	height: 184px;
	background-color: white; 
}
#profile_avartar > a {
	color: white;
}
#profile_avartar > a:hover {
	cursor: pointer;
	color: #00AEEF;
}
/* 프로필 아이디 */
#profile_id{
    float: left;
    list-style: none;
    color: rgb(228, 228, 228);
    width: 400px;
    height: 80px;
    padding-left: 10px;
    padding-top: 25px;
}
#profile_id > p{
    float: left;
    margin-top: 5px;
    width: 400px;
}
/* 프로필 자기소개 */
#profile_introduce{ 
	float:left;
    width: 600px;
    height: 150px;
    margin-top: 10px;
    background-color: #262B2F;
    color: rgb(228, 228, 228);
    font-size: 25px;
    padding-left:10px;
}
#profile_textarea{
	margin-top : 20px;
	float: left;
	width: 600px;
	height: 120px;
	display: none;
}


#profile_textarea > form > textarea{
	resize: none;
	width: 600px;
	height: 120px;
	padding: 5px 10px;
	background-color : transparent;
	border-color : #00AEEF;
	color : rgb(228, 228, 228);
	font-size: 1.5em;
}

#profile_textarea > form > button {
	float: right;
	margin-top: 5px;
	padding : 5px 10px;
	border-radius: 10px;
	cursor: pointer;
}

.profile_fix{
	width: 150px;
	margin-right: 30px;
	position: absolute;
	top : 80px;
	right: 30px;
}

#profile_contextUpdate:hover{
	outline: 2px solid skyblue;
	transition-duration: initial;
	color : skyblue;
	cursor: pointer;
}

#profile_contextUpdate{
	margin-top: 30px;
	width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(74, 79, 88);
    border: none;
    font-size: 100%;
    color: rgb(228, 228, 228);
    cursor: pointer;
}
/* 프로필 닉네임 */
#profile_update{
    width: 150px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(74, 79, 88);
    border: none;
    font-size: 100%;
    color: rgb(228, 228, 228);
}
#profile_update:hover{
	outline: 2px solid skyblue;
	transition-duration: initial;
	color : skyblue;
	cursor: pointer;
}
#comment_paging{
	width: 730px;
	height: 5%;
	background-color:#131517;
	margin-left : 1.8%;
	margin-top: 15px;
	border-radius: 7px;
	color: rgb(228, 228, 228);
	display: inline-block;
}
#comment_paging > div{
	line-height: 5vh;
}
.comment_page{
	float:right;
	display:block;
	margin-right:20px;
}
.comment_page div,button{
	display:inline-block;
}
#comment_page1{
	float:left;
	width: 30%;
	margin-left: 1vw;
}
.comment_package{
	display: inline-block;
	width: 730px;
	height: auto;
}
.paginate {
	width: 730px;
	height: 50px;
	margin: 10px;
	text-align: center;
}
.prevBtn, .nextBtn {
	display: inline-block;
	margin: 0 10px;
}
.naviText {
	color: white;
}
.naviTextB {
	color: rgba(0,0,0,0.3);
}
.pageText {
	color: white;
}

.game_lists{
	width:420px;
	height: 190px;
	float:right;
	background-color: #262B2F;
	left:1200px;
	top: 400px;
	overflow-x:hidden;
    overflow-y: auto;
    color: rgb(228, 228, 228);
    margin-bottom: 20px;
}
.game_lists > span{
	font-size: 20px;
	font-weight: bolder;
}
.game_picture img{
	width:300px;
}
.game_content{
	color: rgb(228, 228, 228);
}
/* 게임 리스트 스크롤바 설정 */
.game_lists::-webkit-scrollbar {
  width: 20px;
}
.game_lists::-webkit-scrollbar-thumb {
	height: 30px;
	background-color: #00AEEF;
	border-radius: 20px;
}
.game_lists::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}
.friends{
	width: 370px;
	background-color: #1B1F22;
	padding-bottom: 30px;
	padding-top: 15px;
	padding-left: 15px;
	display: inline-block;
	margin-top: 10px;
}
.friend_count{
	color: #9b9b9b;
}
.friend_list{
	margin-top: 10px;
    padding: 4px 0 4px 4px;
    margin-bottom: 4px;
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.friend_picture{
	width: 50px;
	display: inline-block;
	padding: 1px;
    border-radius: 0;
    border: none;
}
.friend_picture > a > img{
	width: 40px;
	height: 40px;
}
.friend_content{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 10px;
}
.friend_nickname{
	color: white;
	font-size: 15px;
}
.comment_footer{
	margin-top: 6px;
    border-top: 2px solid #363f4c;
    color: rgb(228, 228, 228);
    width: 1200px;
}
.profile_content{
	position: relative;
	width: 730px;
	height: 70%;
	background-color: #262B2F;
	margin-left:1.2vw;
	float:left;
}
.profile_right{
	width:420px;
	background-color: #262B2F;
	float:right;
	z-index: 1;
	position:relative;
	margin-top : 10px;
}
.profile_right> div > a{
	text-decoration: none;
	color:white;
	font-size: 20px;
	font-weight: bold;
}
#profile_left{
	width:750px;
	background-color: #262B2F;
	float:left;
	color:white;
	display: block;
	margin-top: 10px;
}
.profile_left::-webkit-scrollbar {
  width: 20px;
}
.profile_left::-webkit-scrollbar-thumb {
	height: 30px;
	background-color: #00AEEF;
	border-radius: 20px;
}
.profile_left::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}
.comment_write{
	width:730px;
	height : 120px;
	background-color : #262B2F;
	display:inline-block;
}

#comment_write_a {
	margin: 15px;
	display:inline-block;
}
#comment_write_a > img{
	width: 80px;
	height: 80px;
	background-color: white;
}
#comment_form{
	position: absolute;
	margin-top: 12px;
	display: inline-block;
}
#comment_text{
	display: inline-block;
	padding: 5px 10px;
	height: 80px;
	width: 600px;
	resize: none;  
	color: rgb(228, 228, 228);
	background-color: rgb(74, 79, 88);
}
#comment_text:focus{
	outline: 2px solid;
	outline-color: gray;
}
#comment_text:focus::-webkit-input-placeholder{
	color : transparent;
} 

#comment_text::placeholder{
	position:absolute;
	color: white;
	font-size: 20px;
	font-weight: 700px;
}


.textCount{
	float:right;
	color: white;
} 
.textTotal{
	float:right;
	color: white;
}
#comment_submit{
	float: right;
	margin-right: 20px;
	border: none;
	background-color: rgb(74, 79, 88);
	color: rgb(228, 228, 228);
	padding-left: 10px;
	margin-left: 10px;
	padding-right: 10px;
	text-align: center;
	cursor: pointer;
}
.comment_lists{
	background-color: #262B2F;
}
.comment_image {
	width: 80px;
	height: 84px;
	margin: 15px;
	display:inline-block;
}
.comment_image > a > img{
	width: 64px;
	height: 64px;
	cursor: pointer;
}
.comment_content{
	width: 600px;
	height : 114px;
	display: inline-block;
	position: absolute;
	margin-top: 10px;
	background-color : #262B2F;
	color: #ebebeb;
}
.comment_nickname{
	width: 200px;
	display: inline-block;
	color: #ebebeb;
	cursor: pointer;
}
.comment_regdate{
	width: 300px;
	display: inline-block;
	color: #56707f;
}
.comment_context{
	color: #acb2b8;
	padding-top: 10px;
	width: 600px;
	height: auto;
	display: inline-block;
	word-break:break-all;
	word-wrap:break-word;
}

/* .comment_fix{
	color: #acb2b8;
	padding-top: 10px;
	width: 600px;
	height: auto;
	display: inline-block;
	word-break:break-all;
	word-wrap:break-word;
	display: none;
} */
/* .comment_updatebtn{
	position: absolute;
	outline: 0;
	min-width: 40px;
	background-color: rgb(74, 79, 88);
	color: rgb(228, 228, 228);
	border: none;
	cursor: pointer;	
} */
.comment_deletebtn{
	position: absolute;
	outline: 0;
	min-width: 40px;
	background-color: rgb(74, 79, 88);
	color: rgb(228, 228, 228);
	border: none;
	cursor: pointer;	
}

.friend_request{
	color: white;
}
.friend_req{
	display: inline-block;
	width: 400px;
}
.friend_request_picture{
	margin-top: 10px;
	display: inline-block;
}
.friend_req > img{
	width: 80px;
	height: 80px;
}
.friend_req_nickname{
	margin-left: 20px;
	margin-top: 30px;
	position: absolute;
	font-size: 30px;
	font-weight: 700;
	width: 200px;
	height: 64px;
	display: inline-block;
}
.friend_request_btn{
	margin-top: 35px;
	width: 80px;
	height: 80px;
	float: right;
}
.friend_request_approval_btn{
	width: 35px;
	height: 35px;
}
.friend_request_delete_btn{
	width: 35px;
	height: 35px;
}

.friend_delete{
	display: inline-block;
}

.friend_btn{
	display: inline-block;
	height: 35px;
	position: absolute;
	right: 30px;
	top: 10px;
}

