<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/wishcart/cart.css}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <!-- <th:block th:if="" th:replace="fragments/header/headerLogin :: headerFragment"></th:block> 로그인시 띄울 헤더 -->
    <div id="container">
    <div id="contents">
    <h1>장바구니</h1>
      <div id="cartList">
    	<div class="list_box" th:each="cart : ${list}" th:id="|cartListBox${cart.cart_code}|">
			<div class="game_image">
				<img th:src="@{/image/game/} + ${cart.game_picture}">
			</div>
			<div class="game_content">
				<div class="content_top">
					<span class="game_name" th:text="${cart.game_name}"></span>
					<span class="game_price" th:text="${'₩'+ #numbers.formatInteger(cart.game_price, 3, 'COMMA')}"></span>
				</div>
				<div class="content_bottom">
					
					<span class="game_releaseDate">출시일: </span>[[${#dates.format(cart.game_releaseDate,'yyyy-MM-dd')}]]
					<div class="genre_box">
						<span>태그:</span> [[${cart.genre_1}]], [[${cart.genre_2}]], [[${cart.genre_3}]]
					</div>
					<button class="delete_cart_button" th:onclick="|location.href='@{/delete_cart(cart_code=${cart.cart_code},user_code=${cart.user_code})}'|" >
						<span class="delete_cart">삭제</span>
					</button>
					
					
					<!--ajax <button class="delete_cart_button" th:onclick="|delcart(${cart.cart_code, cart.game_price, total[].total[0].total_price})|" >
						<span class="delete_cart">삭제</span>
					</button> -->
					
					
					
				</div>
			</div>
    	</div>
    	</div>
      
      <div id="buyButton">
	      	<span class="total">총 결제 금액 : ₩</span>
	      	<span th:if="${total != null}">
	    		<span id="total_price" th:text="${#numbers.formatInteger(total,3,'COMMA')}"></span>
	    	</span>
	    	<span th:if="${total == null}">
	    		<span id="total_price" th:text="0"></span>
	    	</span>
	    	
			<button class="pay_button" th:onclick="|paybtn(${user_code},${total})|">
				<span class="pay">결제</span>
			</button>
			</div>
      
      </div>
    
    </div>
    <!-- footer fragment 사용 -->
    
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
    
    <script th:inline="javascript">
    	
		function delcart(cart_code, game_price){
			let id = "#cartListBox" + cart_code
	         $.ajax({
	            url: "delete_cart",
	               type: "POST",
	               async: true,
	               data: {
	                  "cart_code" : cart_code
	               },
	               success: function (data) {
	                  $(id).remove();
	               }
	          });
	      }
		function paybtn(user_code, total){
			
				$.ajax({
					url:'/kakaopay' ,
					data: { "user_code" : user_code,
							"total":total
						   },
					dataType :'json',
					success:function(data){
						var box = data.next_redirect_pc_url;
						window.open(box);
					},
					error:function(error){
						alert(error);
					}
				});
			};
				
		
		
	</script>
    
</body>
</html>