<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/wishcart/wish.css}">
	<script type="text/javascript" th:src="@{/js/wishcart/wish.js}"></script>
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <!-- <th:block th:if="" th:replace="fragments/header/headerLogin :: headerFragment"></th:block> 로그인시 띄울 헤더 -->
    <div id="container">
    <div id="contents">
        <h1>찜목록</h1>
    	<div id="wishList">
    	<div class="list_box" th:each="wish : ${wlist}" th:id="|wishListBox${wish.wish_code}|">
			<div class="game_image">
				<img th:src="@{/image/game/} + ${wish.game_picture}">
			</div>
			<div class="game_content">
				<div class="content_top">
					<span class="game_name" th:text="${wish.game_name}"></span>
					<span class="game_price" th:text="${'₩'+ #numbers.formatInteger(wish.game_price, 3, 'COMMA')}"></span>
				</div>
				<div class="content_bottom">
					<span class="game_releaseDate">출시일: </span>[[${#dates.format(wish.game_releaseDate,'yyyy-MM-dd')}]]
					<div class="genre_box">
						<span>태그:</span> [[${wish.genre_1}]], [[${wish.genre_2}]], [[${wish.genre_3}]]
					</div>
					<!-- <button class="delete_wish_button" th:onclick="|location.href='@{/delete_wish(wish_code=${wish.wish_code},user_code=${wish.user_code})}'|" > -->
					<button class="delete_wish_button" th:onclick="|delwish(${wish.wish_code})|" >
						<span class="delete_wish">삭제</span>
					</button>
					<button th:if="${not #lists.contains(game_code, wish.game_code)}" th:id="|wish${wish.game_code}|" class="cart_button" th:onclick="|insertcart(${wish.user_code},${wish.game_code})|">
						<span class="delete_wish">장바구니 추가</span>
					</button>
					<button th:id="|cart${wish.game_code}|" th:onclick="|location.href='@{/cart/{user_code}(user_code=${wish.user_code})}'|">
						<span class="delete_wish" id="finish">장바구니 이동됨</span>
					</button>
					<button th:if="${#lists.contains(game_code, wish.game_code)}"  th:onclick="|location.href='@{/cart/{user_code}(user_code=${wish.user_code})}'|">
						<span class="delete_wish" id="finish">장바구니 이동됨</span>
					</button>
					<!-- <a id="" class="view_cart_button" th:href="@{|/cart/${wish.user_code}|}">							
						장바구니 보기
					</a> -->
				</div>
			</div>
		</div>
    </div>
    </div>
   </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>


</body>
</html>