@charset "UTF-8";

#container {
	min-height: 800px;
}

#content {
	min-width: 600px;
	width: 50%;
	margin: 0 auto;
	padding-top: 80px;
	text-align: center;
	color: white;
	font-size: 1.6em;
}

#stim_img {
	width: 150px;
}

#headline > h2 {
	margin-bottom: 20px;
}

form {
	width: 400px;
	margin:0 auto;
}

#user_id, #user_email {
	width: 100%;
	display: block;
	height: 40px;
	background: #0E1B49;
    border-radius: 3px;
    color: #E9E9E9;
    font-size: 0.8em;
    padding: 4px 20px;
    display: block;
    box-shadow: none;
    transition: border ease-in-out .5s;
    border: 1px solid white;
    outline: none;
    margin-top: 30px;
}

#find_btn {
	margin-top: 30px;
}

#find_btn > button {
	border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    color: #c3e1f8;
    background: transparent;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 30%);
    margin-bottom: 20px;
}

#find_btn > button > span {
	width: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 2px;
    display: block;
	background: linear-gradient( to right, #47bfff 5%, #1a44c2 60%);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    background-position: 25%;
    background-size: 330% 100%;
}