<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack 게임 상세 페이지</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/game/gameDetailView.css?after}">
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="contents">
	    	<h1 th:inline="text">[[${gameInfo.game_name}]]</h1>
	    	<div id="gameImg" class="gameInformation">
	    		<div style="width: 1020px; height: 500px; margin-left: 20px; background-color: black; padding-left: 45px;">

		    		<img alt="gameImg" th:src="@{/image/game/} + ${gameInfo.game_picture}">
	    		</div>
	    		<div id="aboutGame" class="gameInformation">
	    			<section id="gameSection">
    					<article id="gameContext" th:inline="text" >
	    					[[${gameInfo.game_context}]]
	    				</article>
					</section>
					<div id="gameGrade">
						<div>
	    					댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란
	    					댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란
	    					댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란
	    					댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란
	    					댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란 댓글란
	    				</div>
					</div>
    			</div>
	    	</div>
	    	<div id="gameInfo" class="gameInformation">
	    		<div id="barBackground">
		    		<div id="barText">
			    		<ul>
			    			<li id="miniImg">
   				    		<img alt="gameImg" th:src="@{/image/game/} + ${gameInfo.game_picture}">
		    				</li>
			    			<li class="liText" th:inline="text">
			    				개발사: <span>[[${gameInfo.game_developer}]]</span>
			    			</li>
			    			<li class="liText" th:inline="text">
			    				배급사: <span>[[${gameInfo.game_distribution}]]</span>
			    			</li>
			    			<li class="liText">
			    				출시일: <span>[[${#dates.format(gameInfo.game_releaseDate, 'yy. MM. dd')}]]</span>
			    			</li>
			    			<li class="liText" th:inline="text">
			    				태  그: <span>[[${gameInfo.genre_1}]], [[${gameInfo.genre_2}]], [[${gameInfo.genre_3}]]</span>
			    			</li>
			    			<li th:if="${gameInfo.game_finalPrice}==${gameInfo.game_price}" class="liText" th:inline="text">
			    				가  격: <span>￦[[${#numbers.formatInteger(gameInfo.game_price, 0, 'COMMA')}]]</span>
		    				</li>
		    				<li th:if="${gameInfo.game_finalPrice}!=${gameInfo.game_price}" class="liText" th:inline="text">
			    				가  격: <span>￦[[${#numbers.formatInteger(gameInfo.game_finalPrice, 0, 'COMMA')}]]</span>
			    				<span style="background-color:#00AEEF; font-size: 8px; color:white; padding:1px;">[[${#numbers.formatInteger(gameInfo.game_discount, 0, 'COMMA')}]]%</span>
		    				</li>
		    				
			    		</ul>
			    		<div class="wishCart" id="payNow">
		    				<button th:onclick="|paybtn(${user_code},${game_code})|">
		    				<!-- <button th:onclick="|paybtn(${xxx.user_code},${xxx.game_code})|"> -->
		    					바로 구매하기
		    				</button>
			    		</div>
			    		<div class="wishCart">
			    			<button th:onclick="|insertwish(${user_code},${gameInfo.game_code})|">
			    				<!-- <button th:onclick="|paybtn(${xxx.user_code},${xxx.game_code})|"> -->	
			    				찜하기
			    			</button>			    		
			    		</div>
			    		<div class="wishCart">
		    				<button th:onclick="|insertcart(${user_code},${game_code})|">
		    				<!-- <button th:onclick="|insertcart(${xxx.user_code},${xxx.game_code})|"> -->
		    					장바구니 담기
		    				</button>
			    		</div>
		    		</div>
	    		</div>
	    	</div>	   	
    	</div>
    	
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
    
    
    
</body>
</html>