<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack 게임 상세 페이지</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/game/gameDetailView.css?after}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/game/gameview.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="contents">
	    	<h1 th:inline="text">[[${gameInfo.game_name}]]</h1>
	    	<div id="gameImg" class="gameInformation">
	    		<div style="width: 1020px; height: 500px; margin-left: 20px; background-color: black; padding-left: 45px;">

		    		<img id="gameMain" alt="gameImg" th:src="@{/image/game/} + ${gameInfo.game_picture}">
	    		</div>
	    		<div id="aboutGame" class="gameInformation">
	    			<section id="gameSection">
    					<article id="gameContext" th:inline="text" >
	    					[[${gameInfo.game_context}]]
	    				</article>
	    				<p>반영은 최소 5개부터</p>
	    				<div id="gameGradeSection">
		    				<th:block th:if="${Grade}=='G'">
		    					<img th:src="@{/image/GradeGood.png}">
		    				</th:block>
		    				<th:block th:if="${Grade}=='B'">
								<img th:src="@{/image/GradeBad.png}">
							</th:block>
		    				<th:block th:if="${Grade}=='N'">
								<img th:src="@{/image/GradeNone.png}">
							</th:block>
		    			</div>
					</section>
					<div id="gameGrade">
						<div sec:authorize="isAuthenticated()">
							<form id="reply_form" th:action="@{/gamereply}" method="post">
								<input type="hidden" id="user_code" name="user_code" th:value="${#authentication.principal.user_code}">
								<input type="hidden" id="game_code" name="user_id" th:value="${gameInfo.game_code}"> 
								<input type="hidden" id="" name="writer_code" th:value="${#authentication.principal.user_code}"> <!-- 로그인 시 value가 로그인 한 사람 값이 되야함 -->
								<textarea id="grade_context" name="grade_context" placeholder="댓글과 평점을 남겨주세요" ></textarea>
								<span class="textCount">0</span>
    							<span class="textTotal">/230</span>
								<input id="reply_submit" type="button" value="댓글 남기기" th:onclick="|inputReply(${pagination.currentPage})|">
								<label><input type="radio" id="grade_b" name="grade_rate" value="b">Bad</label>
								<label><input type="radio" id="grade_g" name="grade_rate" value="g">Good</label>
							</form>
						</div>
					</div>
		    		<div id="reply_lists">
						<div class="reply_list" th:each="reply : ${reply}" th:id="|mentListBox${reply.grade_code}|">
							<a th:href="@{|/profile/${reply.user_code}|}">
								<img id="reply_picture" alt="프로필 사진" th:src="@{/image/profile/} + ${reply.user_picture}">
							</a>
							<div class="reply_content">
								<span class="user_nickname" th:text="${reply.user_nickname}"></span> 
								<span id="grade_rateG" th:if="${#strings.equals(reply.grade_rate, 'g')}">Good</span>
								<span id="grade_rateB" th:if="${#strings.equals(reply.grade_rate, 'b')}">Bad</span>
								
								<span class="grade_regdate" th:text="${#dates.format(reply.grade_regdate,'yyyy년 MM월 dd일 HH시 mm분')}"></span>
								<p th:id="|reply_area${reply.grade_code}|" class="grade_context" th:text="${reply.grade_context}"></p>
								<div th:id="|reply_update${reply.grade_code}|" class="reply_update">
					            	<form action="">
					            		<input th:id="|grade_code${reply.grade_code}|" name="grade_code" type="hidden" th:value="${reply.grade_code}">
					            		<textarea th:id="|update_context${reply.grade_code}|" class="update_context" name="grade_context"></textarea>
					            		<span th:id="|textCount${reply.grade_code}|" class="textCount2">0</span>
    									<span class="textTotal2">/230</span>
					            		<button type="button" onclick="cancel()">취소</button>
					            		<button type="button" th:onclick="|edit_reply(${reply.grade_code})|">작성</button>
		            				</form>
	           					</div>
							</div>
							<button sec:authorize="isAuthenticated()" class="reply_deletebtn" 
							th:if="${(reply.user_code == #authentication.principal.user_code) AND #strings.equals(#authentication.principal.user_admin, 'N')}" 
							th:onclick="|deleteReply(${reply.grade_code},${gameInfo.game_code},${pagination.currentPage-1},${pagination.cntPerPage},${pagination.pageSize})|">삭제</button> 
							
							<button sec:authorize="isAuthenticated()" class="reply_updatebtn" 
							th:if="${(reply.user_code == #authentication.principal.user_code) AND #strings.equals(#authentication.principal.user_admin, 'N')}" 
							th:onclick="|change_reply(${reply.grade_code})|">수정</button> 
							<button sec:authorize="isAuthenticated()" class="reply_deletebtn" 
							th:if="${#strings.equals(#authentication.principal.user_admin, 'Y')}" th:onclick="|deleteReply(${reply.grade_code},${gameInfo.game_code},${pagination.currentPage-1},${pagination.cntPerPage},${pagination.pageSize})|">삭제</button>
						</div>
					</div>
					<div class="paginate">
				    	<div class="paging">
				    		<div class="prevBtn" th:if="${pagination.currentPage != 1}">
				        		<a class="direction prev" href="javascript:void(0);" th:onclick="|movePage(${gameInfo.game_code},1,${pagination.cntPerPage},${pagination.pageSize})|"><span class="naviText"> &lt;&lt; </span></a>
				        		<a class="direction prev" href="javascript:void(0);" th:onclick="|movePage(${gameInfo.game_code},${pagination.currentPage-1},${pagination.cntPerPage},${pagination.pageSize})|"><span class="naviText"> &lt; </span></a>
				        	</div>
				        	<div class="prevBtn" th:if="${pagination.currentPage == 1}">
				        		<span class="naviTextB"> &lt;&lt; </span>
				        		<span class="naviTextB"> &lt; </span>
				        	</div>
				        	<th:block th:Each="idx : ${#numbers.sequence(pagination.firstPage, pagination.lastPage)}">
				            	<a href="javascript:void(0);" th:onclick="|movePage(${gameInfo.game_code},${idx},${pagination.cntPerPage},${pagination.pageSize})|">
				                	<span class="pageText" th:if="${idx == 0}" style="color:#00AEEF; font-size:1.5em;">1</span>
				                	<span class="pageText" th:if="${pagination.currentPage == idx and idx != 0}" style="color:#00AEEF; font-size:1.5em;" th:text="${idx}"></span>
									<span class="pageText" th:if="${pagination.currentPage != idx and idx != 0}" th:text="${idx}"></span>
								</a>
							</th:block>
							<div class="nextBtn" th:if="${pagination.currentPage != pagination.lastPage}">
								<a class="direction next" href="javascript:void(0);" th:onclick="|movePage(${gameInfo.game_code},${pagination.currentPage+1},${pagination.cntPerPage},${pagination.pageSize})|"><span class="naviText"> &gt; </span></a>
								<a class="direction next" href="javascript:void(0);" th:onclick="|movePage(${gameInfo.game_code},${pagination.totalRecordCount},${pagination.cntPerPage},${pagination.pageSize})|"><span class="naviText"> &gt;&gt; </span></a>
							</div>
							<div class="nextBtn" th:if="${pagination.currentPage == pagination.lastPage}">
								<span class="naviTextB"> &gt; </span>
								<span class="naviTextB"> &gt;&gt; </span>
							</div>
				        </div>
				    </div>
    			</div>
	    	</div>
	    	<div id="gameInfo" class="gameInformation">
	    		<div id="barBackground">
		    		<div id="barText">
			    		<ul>
			    			<li id="miniImg">
   				    		<img alt="gameImg" th:src="@{/image/game/} + ${gameInfo.game_picture}">
		    				</li>
			    			<li class="liText" th:inline="text">
			    				개발사: <span>[[${gameInfo.game_developer}]]</span>
			    			</li>
			    			<li class="liText" th:inline="text">
			    				배급사: <span>[[${gameInfo.game_distribution}]]</span>
			    			</li>
			    			<li class="liText">
			    				출시일: <span>[[${#dates.format(gameInfo.game_releaseDate, 'yy. MM. dd')}]]</span>
			    			</li>
			    			<li class="liText" th:inline="text">
			    				태  그: <span>[[${gameInfo.genre_1}]], [[${gameInfo.genre_2}]], [[${gameInfo.genre_3}]]</span>
			    			</li>
			    			<li th:if="${gameInfo.game_finalPrice}==${gameInfo.game_price}" class="liText" th:inline="text">
			    				가  격: <span>￦[[${#numbers.formatInteger(gameInfo.game_price, 0, 'COMMA')}]]</span>
		    				</li>
		    				<li th:if="${gameInfo.game_finalPrice}!=${gameInfo.game_price}" class="liText" th:inline="text">
			    				가  격: <span>￦[[${#numbers.formatInteger(gameInfo.game_finalPrice, 0, 'COMMA')}]]</span>
			    				<span style="background-color:#00AEEF; font-size: 8px; color:white; padding:1px;">[[${#numbers.formatInteger(gameInfo.game_discount, 0, 'COMMA')}]]%</span>
		    				</li>
			    		</ul>
			    		<div sec:authorize="isAnonymous()">
				    		<div class="wishCart" id="payNow">
			    				<button th:onclick="|location.href='@{/loginForm}'|">
			    					바로 구매하기
			    				</button>
				    		</div>
				    		<div class="wishCart">
				    			<button th:onclick="|location.href='@{/loginForm}'|">
				    				찜하기
				    			</button>			    		
				    		</div>
				    		<div class="wishCart">
			    				<button th:onclick="|location.href='@{/loginForm}'|">
			    					장바구니 담기
			    				</button>
				    		</div>
			    		</div>
			    		<div sec:authorize="isAuthenticated()">
			    			<div th:if="${not #lists.contains(game_code_my, gameInfo.game_code)}">
					    		<div class="wishCart" id="payNow">
				    				<button th:onclick="|paybtn(${#authentication.principal.user_code},${gameInfo.game_code},${gameInfo.game_price})|">
				    					바로 구매하기
				    				</button>
					    		</div>
					    		<div class="wishCart">
					    			<button th:id="|bwish${gameInfo.game_code}|" th:if="${not #lists.contains(game_code_wish, gameInfo.game_code)}" th:onclick="|insertwish(${#authentication.principal.user_code},${gameInfo.game_code})|">
					    				찜하기
					    			</button>
					    			<button th:id="|awish${gameInfo.game_code}|" th:onclick="|location.href='@{/wish/{user_code}(user_code=${#authentication.principal.user_code})}'|" style="display: none;">
					    				찜목록으로 이동
					    			</button>
					    			<button th:if="${#lists.contains(game_code_wish, gameInfo.game_code)}" th:onclick="|location.href='@{/wish/{user_code}(user_code=${#authentication.principal.user_code})}'|">
					    				찜목록으로 이동
					    			</button>		    		
					    		</div>
					    		<div class="wishCart">
				    				<button th:id="|bcart${gameInfo.game_code}|" th:if="${not #lists.contains(game_code_cart, gameInfo.game_code)}" th:onclick="|insertcart(${#authentication.principal.user_code},${gameInfo.game_code})|">
				    					장바구니 담기
				    				</button>
				    				<button th:id="|acart${gameInfo.game_code}|" th:onclick="|location.href='@{/cart/{user_code}(user_code=${#authentication.principal.user_code})}'|" style="display: none;">
										장바구니 이동됨
									</button>
									<button th:if="${#lists.contains(game_code_cart, gameInfo.game_code)}"  th:onclick="|location.href='@{/cart/{user_code}(user_code=${#authentication.principal.user_code})}'|">
										장바구니 이동됨
									</button>
					    		</div>
				    		</div>
				    		<div th:if="${#lists.contains(game_code_my, gameInfo.game_code)}" class="wishCart">
				    			<button th:onclick="|location.href='@{/profile/{user_code}(user_code=${#authentication.principal.user_code})}'|">
				    				보유중인 게임
				    			</button>
				    		</div>
			    		</div>
		    		</div>
	    		</div>
	    	</div>	   	
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
    
    
    
</body>
</html>