<!DOCTYPE html>
<html lagn="ko"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로필 변경</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/profile/pictureUpdateForm.css}">
<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:src="@{/js/profile/profile.js}"></script>
</head>
<body>
	<h2>새 프로필 사진 변경</h2>
	<form action="pictureUpdate" method="post" enctype="multipart/form-data" id="pictureForm">
		<input type="hidden" name="user_code" th:value="${user_code}">
		<label>
			<span id="inputText">새 프로필 사진 등록</span>
			<input type="file" name="picture" accept="image/jpeg, image/png, image/gif">
		</label>
		<div id="textBox">
			<span id="successText">잠시만 기다려주세요.</span>
		</div>
		<div id="btns">
			<input type="button" value="수정" th:onclick="|popupClose(${user_code})|">
			<button type="button" onclick="updateCancle()">취소</button>
		</div>
	</form>
</body>
</html>