<!DOCTYPE html>
<html lagn="ko"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로필 변경</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/profile/pictureUpdateForm.css}">
</head>
<body>
	<h2>새 프로필 사진 변경</h2>
	<form action="pictureUpdate" method="post" enctype="multipart/form-data">
		<input type="hidden" name="user_code" th:value="${user_code}">
		<label>
			<span id="inputText">새 프로필 사진 등록</span>
			<input type="file" name="picture" accept="image/jpeg, image/png">
		</label>
		<div id="btns">
			<input type="submit" value="수정">
			<button type="button" onclick="">취소</button>
		</div>
	</form>
</body>
</html>