<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title th:text="'Steam Community :: ' + ${user.user_nickname} "></title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile/profileUpdate.css}">
	<script type="text/javascript" th:src="@{/js/profile/profile.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="content">
    		<div class="small_header">
		   		<img th:src="@{/image/profile/} + ${#authentication.principal.user_picture}" alt="userPicture">
		   		<p><strong th:text="|${#authentication.principal.user_nickname} 님|"/></strong>유저정보 수정</p>
		    	<button type="button" th:onclick="|pwdCheck(${#authentication.principal.user_code})|">회원 탈퇴</button>
		   	</div>
    		<form th:action="@{/profile/edit/update}" method="post" th:object="${user}" id="update_form" enctype="multipart/form-data">
    			<input type="hidden" name="user_code" id="user_code" th:value="${user.user_code}">
    			<label th:for="user_id">
    				<span class="userUpdate_text">아이디 (아이디 변경 불가)</span>
    			</label>
    			<input type="text" name="user_id" id="user_id" th:value="${user.user_id}" readonly>
    			<label th:for="user_nickname">
    				<span class="userUpdate_text">닉네임</span>
    			</label>
    			<input type="text" name="user_nickname" id="user_nickname" th:value="${user.user_nickname}">
    			<span th:text="${valid_user_nickname}" class="input_error"></span>
    			<label th:for="user_email">
    				<span class="userUpdate_text">이메일</span>
    			</label>
    			<input type="email" name="user_email" id="user_email" th:value="${user.user_email}">
    			<span th:text="${valid_user_email}" class="input_error"></span>
    			<label th:for="user_phone">
    				<span class="userUpdate_text">전화번호</span>
    			</label>
    			<input type="tel" name="user_phone" id="user_phone" th:value="${user.user_phone}">
    			<span th:text="${valid_user_phone}" class="input_error"></span>
	    		<div id="userUpdate_btn">
			    	<button type="submit">
			    		<span>수정하기</span>
			    	</button>
			    	<button type="button" th:onclick="|location.href='@{/pwdChangeForm(user_id=${user.user_id})}'|">
			    		<span>비밀번호 변경</span>
			    	</button>
			    </div>
    		</form>
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>