<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<header th:fragment="headerFragment">
	<div id="header">
        <a href="/"><img id="stim_logo" th:src="@{/image/Stim_logo_white.png}"></a>
        <nav id="headerNav">
        	<ul>
	           <li><a href="/">홈으로</a></li>
	           <li sec:authorize="isAuthenticated()"><a href="/adminPage" th:if="|${#strings.equals(#authentication.principal.user_admin, 'Y')}|">관리자</a></li>
	       </ul>
        </nav>
        <div sec:authorize="isAuthenticated()" id="loginBox_2">
        	<div id="headUserInfo">
	        	<h3 id="userNickName"><span sec:authentication="principal.user_nickname"></span>님</h3>
	    	    <button onclick="location.href='/logout'" id="headLogout">로그아웃</button><br>
        	</div>
        	<a th:href="@{|/profile/${#authentication.principal.user_code}|}">
        		<img th:src="@{'/image/profile/'+${#authentication.principal.user_picture}}" alt="profilePicture" id="profilePicture">
        	</a>
        </div>
    </div>
    <nav id="gameNav">
    	<div id="gameNavBox">
			<section>
				<ul>
				<li><a href="/adminPage">게임 관리</a></li>
				<li><a href="/adminUser">유저 관리</a></li>
				</ul>
			</section>
		</div>
    </nav>
</header>
</html>