<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<!--headerFragment 선언-->
<header th:fragment="headerFragment">
	<div id="header">
        <a href="/"><img id="stim_logo" th:src="@{/image/Stim_logo_white.png}"></a>
        <nav id="headerNav">
        	<ul>
	           <li><a href="/gameList">상점</a></li>
	           <li><a th:href="@{/profile/Doyeol} ">정보</a></li> <!-- th:href="@{/profile/${user.user_id}}  -->
	           <li><a href="#">지원</a></li>
	           <!-- <li sec:authorize="isAuthenticated()"><a href="#" th:if="${#authentication.principal.user_admin.equal('Y')}">관리자</a></li> -->
	           <li sec:authorize="isAuthenticated()"><a href="#" th:if="|${#authentication.principal.user_admin.equal('Y')}|">관리자</a></li>
	       </ul>
        </nav>
        <!-- 로그인 전 -->
        <div sec:authorize="!isAuthenticated()" id="loginBox">
	        <button onclick="location.href='/registerS1'" id="register">회원가입</button>
    	    <button onclick="location.href='/loginForm'" id="login">로그인</button>
        </div>
        <!-- 로그인 후 -->
        <div sec:authorize="isAuthenticated()" id="loginBox_2">
        	<div id="headUserInfo">
	        	<h3 id="userNickName"><span sec:authentication="principal.user_nickname"></span>님</h3>
	    	    <button onclick="location.href='/logout'" id="headLogout">로그아웃</button><br>
        	</div>
        	<img th:src="@{'/image/profile/'+${#authentication.principal.user_picture}}" alt="profilePicture" id="profilePicture">
    	    <div id="wishcartTag">
    	    	<a href="#"><span id="wishTag">찜 목록</span></a>
    	    	<a href="#"><span id="cartTag">장바구니</span></a>
    	    </div>
        </div>
    </div>
    <nav id="gameNav">
    	<div id="gameNavBox">
			<section>
				<ul>
				<li><a href="/gameListPopular">인기 게임</a></li>
				<li><a href="/gameListNew">최신 게임</a></li>
				<li><a href="/gameListSale">할인 게임</a></li>
				</ul>
			</section>
			<form id="serch" action="/gameListSearch">
				<input type="text" name="keyword" id="keyword" placeholder="제목/내용/개발사 검색">
				<input type="submit" value="검색">
			</form>
		</div>
    </nav>
</header>
</html>