<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<header th:fragment="headerFragment">
	<div id="header">
        <a href="/"><img id="stim_logo" src="image/Stim_logo_white.png"></a>
        <nav id="headerNav">
        	<ul>
	           <li><a href="#">상점</a></li>
	           <li><a href="#">정보</a></li>
	           <li><a href="#">지원</a></li>
	       </ul>
        </nav>
        <div id="loginBox">
	        <button onclick="location.href='#'" id="register">회원가입</button>
    	    <button onclick="location.href='#'" id="login">로그인</button>
        </div>
    </div>
    <nav id="gameNav">
    	<section>
    		<ul>
	           <li><a href="#">인기 게임</a></li>
	           <li><a href="#">최신 게임</a></li>
	           <li><a href="#">할인 게임</a></li>
	       	</ul>
		</section>
      	<form id="serch" action="">
	       	<input type="text" name="" id="" placeholder="검색">
    	   	<input type="submit" value="검색">
       	</form>
    </nav>
</header>
</html>