<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/adminMain.css}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/admin/admin.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/adminHeader :: headerFragment"></th:block>
    <div id="container">
    	<div id="content">
    		<button th:onclick="changeDiscount()">세일목록생성</button>
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>