@charset "UTF-8";

#container {
	min-height: 900px;
	padding-top: 30px;
	position: relative;
}

.list_box {
	margin : 0 auto;
	margin-bottom: 15px;
	width : 1100px;
	height : 200px;
    position: relative;
    background-color:#00AEEF;
    border-radius: 4px;
}


.game_image {

    width: 250px;
    height: 180px;
    position: absolute;
    top: 8px;
    left: 10px;
}
.game_image img{
	width: 300px;
    height: 180px;
}

.content_top {
	background-color:#00AEEF;
    width: 750px;
    height: 100px;
    position: absolute;
    top: 10px;
    right : 10px;
    
    
}
.game_name{
	font-size: 30px;
	position:absolute ;
	top: 15px;
	left: 20px;	
}

.game_price{
	font-size: 30px;
	position:absolute ;
	top: 15px;
	right: 25px;
}
.content_bottom {
	background-color:#00AEEF;
    width: 750px;
    height: 90px;
   	position: absolute;
    bottom: 5px;
    right : 10px;
}

.game_releaseDate{
	font-size: 20px;
	position: absolute;
	bottom: 55px;
	left: 20px;	
}
.genre_box{
	font-size: 17px;
	position: absolute;
	bottom: 15px;
	left: 20px;	
}
.genre_box > span {
	margin-right: 10px;
}

.cart_button{
	font-size: 15px;
	width: 100px;
	height: 40px;
	position: absolute;
	bottom: 15px;
	right: 20px;	
}
.delete_cart_button{
	
	font-size: 15px;
	width: 50px;
	height: 40px;
	position: absolute;
	bottom: 13px;
	right: 130px;
}
.delete_cart{
	font-size: 15px;
	
}
.pay_button{
	font-size: 15px;
	width: 100px;
	height: 40px;
	position: absolute;
	bottom: 15px;
	right: 20px;	
}
.total_price{
	color: white;
	font-size: 15px;
	/* width: 100px;
	height: 40px; */
	position: absolute;
	bottom: 30px;
	right: 180px;
}















