@charset "UTF-8";

#container {
	min-height: 900px;
	
}
#contents h1{
	max-width: 500px;
	color: white;
	padding: 30px 0 15px 120px;
}
#contents{
	width: 70%;
	margin: 0 auto;
	max-width: 1560px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.list_box {
	margin : 0 auto;
	margin-bottom: 10px;
	width : 1100px;
	height : 170px;
    display: flex;
	background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 10px;
}

#wishList{
	width: 1150px;
	margin: 0 auto;
	height: 850px;
	z-index: 2;
	padding-top: 10px;
	background-color: rgba(0, 0, 0, 0.3);
    overflow-x:hidden;
    overflow-y: auto;
}
#wishList::-webkit-scrollbar {
  width: 20px;
}
#wishList::-webkit-scrollbar-thumb {
	height: 30px;
	background-color: #00AEEF;
	border-radius: 20px;
}
#wishList::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}


.game_image {
    width: 300px;
    height: 150px;
}
.game_image img{
	width: 300px;
    height: 150px;
}

.content_top {
	color: white;
    width: 770px;
    height: 80px;
    padding: 20px;
}
.content_top a{
	color:white;
}
.content_top a:hover{
	color:#00AEEF;
}
.game_name{
	font-size: 25px;
}

.game_price{
	float:right;
	font-size: 20px;
}
.content_bottom {
	color: white;
    width: 770px;
    height: 80px;
    padding-left: 20px;
}

.game_releaseDate{
	font-size: 12px;
	color: #ccc;
}
.genre_box > span {
	font-size: 12px;
	color: #ccc;
}


.cart_button{
	text-align: center;
	font-size: 15px;
	float: right;
	background-color: transparent;
}
.cart_button span:hover{
	cursor: pointer;
	color: #00AEEF;
}
.delete_wish_button{
	font-size: 15px;
	float: right;
	background-color: transparent;
}
.delete_wish_button span:hover{
	cursor: pointer;
	color: #00AEEF;
}
.delete_wish{
	font-size: 15px;
	margin: 10px;
	color: white;
}
#finish{
	color: #00AEEF;
}
/* 찜목록 스크롤바 설정 */
#gameList::-webkit-scrollbar {
  width: 20px;
}
#gameList::-webkit-scrollbar-thumb {
	height: 30px;
	background-color: #00AEEF;
	border-radius: 20px;
}
#gameList::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}
.hideBtn {
	display: none;
}










