@charset "UTF-8";

#container {
	min-height: 800px;
	padding-top: 30px;
}

.list_box {
	margin : 0 auto;
	margin-bottom: 50px;
	width : 1000px;
	height : 180px;
    position: relative;
    background-color: red;
    border-radius: 4px;
}


.game_image {

    width: 130px;
    height: 100px;
    border: 2px solid rgb(149, 150, 150);
    border-radius: 10px;
    background-color: orange;
    position: absolute;
    top: 40px;
    left: 30px;
}

/* .game_content{
	background-color: skyblue;
    width: 450px;
    height: 200px;
    position: absolute;
    top: 10px;
    right : 10px;
} */
.content_top {
	background-color: green;
    width: 700px;
    height: 80px;
    position: absolute;
    top: 10px;
    right : 10px;
    
}

.content_bottom {
	background-color: pink;
    width: 700px;
    height: 80px;
   	position: absolute;
    bottom: 10px;
    right : 10px;
}














