<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.stim.model.mapper.StimGameListMapper">
	
    <resultMap type="com.stim.vo.GameVO" id="gameMap">
    	<result column="game_code" property="game_code"/>
    	<result column="game_name" property="game_name"/>
    	<result column="game_price" property="game_price"/>
    	<result column="game_releaseDate" property="game_releaseDate"/>
    	<result column="game_developer" property="game_developer"/>
    	<result column="game_distribution" property="game_distribution"/>
    	<result column="game_context" property="game_context"/>
    	<result column="game_salesRate" property="game_salesRate"/>
    	<result column="game_picture" property="game_picture"/>
    </resultMap>
	
	
	<sql id="selectAll">
      	SELECT * 
		FROM game_tbl gm INNER JOIN genre_tbl gn
		ON gm.game_code = gn.game_code
	</sql>
	
	<!-- 게임 상점 목록 출력 (게임 코드 내림차순) -->
    <select id="SelectAllGameList" resultMap="gameMap">
       <include refid="selectAll" />
		ORDER BY gm.game_code DESC
    </select>
    
    
    <!-- 최신 게임 목록 출력 (게임 날짜 최신/내림차순) -->
    <select id="SelectNewestGameList" resultMap="gameMap">
        SELECT * FROM
        (<include refid="selectAll" />
		ORDER BY gm.game_releaseDate DESC)
        WHERE rownum <![CDATA[<=]]> 10
    </select>
    
    
    <!-- 인기 게임 목록 출력 (게임 판매량 내림차순) -->
    <select id="SelectPopularGameList" resultMap="gameMap">
		SELECT * FROM
     	(<include refid="selectAll" />
		ORDER BY gm.game_salesRate DESC)	
     	WHERE rownum <![CDATA[<=]]> 10
    </select>
    
    
    <!-- 특정 키워드에 따라 검색된 게임 목록 출력 -->
    <select id="SelectGameListByKeyword" resultMap="gameMap" parameterType="String">
    	<include refid="selectAll" />
		<if test="keyword != null">
			where LOWER(gm.game_name) like '%'||#{keyword}||'%'
			OR LOWER(gm.game_developer) like '%'||#{keyword}||'%'
			OR LOWER(gm.game_context) like '%'||#{keyword}||'%'
			ORDER BY gm.game_code DESC
		</if>
    </select>

   
   <!-- 장르에 검색한 tag가 포함되어 있는 게임 목록 출력  -->
    <select id="SelectGameListByTags" resultMap="gameMap">
    	SELECT * 
		FROM game_tbl gm INNER JOIN genre_tbl gn
		ON gm.game_code = gn.game_code
		WHERE (gn.genre_1=#{tagSearch} OR gn.genre_2=#{tagSearch} OR gn.genre_3=#{tagSearch})
<!-- 		AND gm.game_price <![CDATA[<=]]> #{price} -->
		ORDER BY gm.game_code DESC
    </select>
   
   	<!-- 선택한 값 이하의 게임 목록을 출력 -->
    <select id="SelectAllGameListByPrice" resultMap="gameMap" parameterType="int">
       	<include refid="selectAll" />
       	Where gm.game_price <![CDATA[<=]]> #{price}
		ORDER BY gm.game_code DESC
    </select>
   
    
    
    <!-- 할인하는 게임 목록 출력 -->
    <select id="SelectAllGameListForSale" resultMap="gameMap">
    	<include refid="selectAll" />
		ORDER BY gm.game_name ASC
    </select>
    
    
    
    <!-- 게임 상세 페이지 정보 -->
    <select id="SelectGameDetailInfo" resultMap="gameMap">
    	<include refid="selectAll" />
   		WHERE gm.game_code = #{game_code}
    </select>
    
    <!-- 할인 목록 삭제 -->
    <update id="discountListRemove">
    	UPDATE game_tbl SET game_discount = ''
    </update>
    
    <!-- 할인 목록 생성 -->
    <update id="createDiscountList" parameterType="map">
    	UPDATE game_tbl SET game_discount = #{discount}
    	WHERE game_code = (SELECT g.game_code FROM (SELECT rownum AS rownumber, game_code FROM game_tbl) 
    	g WHERE g.rownumber = #{code})
    </update>
    
    <!-- 최신 게임 목록 출력 (게임 날짜 최신/내림차순) 메인페이지용 -->
    <select id="SelectNewestGameListMain" resultMap="gameMap">
		SELECT * FROM
        (<include refid="selectAll" />
		ORDER BY gm.game_releaseDate DESC)
        WHERE rownum <![CDATA[<=]]> 6
    </select>
    
    
    <!-- 인기 게임 목록 출력 (게임 판매량 내림차순) 메인페이지용 -->
    <select id="SelectPopularGameListMain" resultMap="gameMap">
		SELECT * FROM
     	(<include refid="selectAll" />
		ORDER BY gm.game_salesRate DESC)	
     	WHERE rownum <![CDATA[<=]]> 3
    </select>
    
</mapper>
