<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.stim.model.mapper.StimGameListMapper">

	<!-- 게임 상점 목록 출력 (게임 코드 내림차순) -->
    <select id="SelectAllGameList" resultType="com.stim.vo.GameVO">
       SELECT * 
       FROM game_tbl
       ORDER BY game_code DESC
    </select>
    
    <!-- 최신 게임 목록 출력 (게임 날ㄹ짜 최신순/내림차순) -->
    <select id="SelectNewestGameList" resultType="com.stim.vo.GameVO">
       SELECT * 
       FROM game_tbl
		ORDER BY game_releaseDate DESC
    </select>
</mapper>
