<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.stim.model.mapper.StimProfileMapper">
 	
	<select id="SelectById" resultType="com.stim.vo.UserVO" parameterType="int">
       SELECT * FROM user_tbl WHERE user_code = #{user_code}
    </select>
    
    <update id="UpdateUserInfo" parameterType="com.stim.vo.UserVO">
		UPDATE user_tbl
		SET 	user_nickname = #{user_nickname},
				user_email = #{user_email},
				user_phone = #{user_phone}
		WHERE user_code = #{user_code}
    </update>
    
    <insert id="InsertComment" parameterType="com.stim.vo.ProFileVO">
    	INSERT INTO profile_comment_tbl
    	VALUES (comment_code_seq.nextval, #{user_code}, #{comment_context}, current_date, #{writer_code})
    </insert>
    
    <update id="updateComment" parameterType="com.stim.vo.ProFileVO">
    	UPDATE profile_comment_tbl
    	SET comment_context = #{comment_context}
    	WHERE user_code = #{user_code}
    </update>
    
    <select id="CountAllComment" resultType="int" parameterType="int">
    	SELECT count(*) FROM profile_comment_tbl WHERE user_code = #{user_code}    	
    </select>
    
    <select id="getCommentInfo" resultType="com.stim.vo.ProFileVO">
	   SELECT * FROM
	   (SELECT ROW_NUMBER() OVER(ORDER BY profile_regdate desc) AS row_num,
	   c.user_code AS user_code,  
       u.user_nickname AS comment_nickname,
       comment_code,
       comment_context, 
       profile_regdate,
       user_picture, 
       writer_code
	   FROM user_tbl u, profile_comment_tbl c
       WHERE u.user_code = c.writer_code
       AND c.user_code = (SELECT user_code FROM user_tbl WHERE user_code = #{user_code}))
       WHERE row_num BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
       ORDER BY profile_regdate DESC
    </select>
    
    <select id="SelectMyGames" parameterType="int" resultType="com.stim.vo.ProFileVO">		
    	SELECT g.game_name AS game_name, g.game_picture AS game_picture, m.game_code AS game_code 
		FROM mygame_tbl m, game_tbl g
		WHERE g.game_code=m.game_code
		AND m.user_code = #{user_code}
		ORDER BY mygame_code DESC
    </select>

    <update id="UpdatePicture" parameterType="com.stim.vo.ProFileVO">
		UPDATE user_tbl
		SET user_picture = #{user_picture}
		WHERE user_code = #{user_code}
    </update>
    
    <select id="SelectMyFriends" parameterType="int" resultType="com.stim.vo.ProFileVO">
		SELECT
        user_code,
        user_picture AS friend_picture,
        user_nickname AS friend_nickname,
        friend_code
		FROM user_tbl u, friend_tbl f 
		WHERE ((u.user_code IN (SELECT friend_user2 FROM friend_tbl WHERE friend_user1 = #{user_code})AND f.friend_user1 = #{user_code} AND f.friend_user2 = u.user_code)
		OR (u.user_code IN (SELECT friend_user1 FROM friend_tbl WHERE friend_user2 = #{user_code}) AND f.friend_user2 = #{user_code} AND f.friend_user1 = u.user_code))
		AND friend_accepted='Y'
    </select>
    
    <delete id="DeleteCommentByCode"  parameterType="int">
    	DELETE profile_comment_tbl
    	WHERE comment_code = #{comment_code}
    </delete>
    
   <select id="selectFriendRequest" parameterType="int" resultType="com.stim.vo.ProFileVO">
		SELECT friend_code, 
 	    friend_user1 AS requester,
	    (SELECT user_nickname FROM user_tbl WHERE friend_user1 = user_code) AS req_nickname,
	    (SELECT user_picture FROM user_tbl WHERE friend_user1 = user_code) AS req_picture, 
	    friend_accepted
	    FROM friend_tbl, user_tbl u
	   WHERE u.user_code = #{user_code} AND friend_user2 = #{user_code} AND friend_accepted = 'N' 
    </select>
    
    <delete id="deleteFriendRequest" parameterType="int">
    	DELETE friend_tbl
    	WHERE friend_code = #{friend_code}
    </delete>
    
    <update id="updateFriendRequest" parameterType="int">
    	UPDATE friend_tbl
    	SET friend_accepted = 'Y'
    	WHERE friend_code = ${friend_code}
    </update>
    
    <delete id="deleteMyFriend" parameterType="int">
    	DELETE friend_tbl
    	WHERE friend_code = #{friend_code}
    </delete>
    
    <select id="selectLastComment" resultType="com.stim.vo.ProFileVO" parameterType="int">
    	SELECT * FROM
    	(SELECT comment_code, 
	       c.user_code AS user_code,  
	       u.user_nickname AS comment_nickname,
	       comment_context, 
	       profile_regdate,
	       user_picture, 
	       writer_code
		   FROM user_tbl u, profile_comment_tbl c
	       WHERE u.user_code = c.writer_code
	       AND c.user_code = (SELECT user_code FROM user_tbl WHERE user_code = #{user_code})
	       ORDER BY profile_regdate desc)
    	WHERE rownum <![CDATA[<=]]> 1
    </select>
    
    <select id="SelectProfileContext" resultType="String" parameterType="int">
    	SELECT profile_context
    	FROM profile_tbl
    	WHERE user_code = #{user_code}
    </select>
    
    <insert id="insertProfileContext" parameterType="Map">
    	INSERT INTO profile_tbl
    	VALUES (profile_code_seq.nextval, #{user_code}, #{profile_context})
    </insert>
    
    <update id="updateProfileContext" parameterType="Map">
    	UPDATE profile_tbl
    	SET profile_context = #{profile_context}
    	WHERE user_code = #{user_code}
    </update>
    
</mapper>
