<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.stim.model.mapper.StimProfileMapper">
 	
 	<!-- 수정하시오 -->
 <!--    <select id="SelectById" resultType="com.stim.vo.UserVO">
       SELECT * FROM test1_tbl
    </select>
  -->
	<select id="SelectById" resultType="com.stim.vo.UserVO" parameterType="int">
       SELECT * FROM user_tbl WHERE user_code = #{user_code}
    </select>
    
    <update id="UpdateUserInfo" parameterType="com.stim.vo.UserVO">
		UPDATE user_tbl
		SET 	user_nickname = #{user_nickname},
				user_email = #{user_email},
				user_phone = #{user_phone}
		WHERE user_code = #{user_code}
    </update>
    
    <insert id="InsertComment" parameterType="com.stim.vo.ProFileVO">
    	INSERT INTO profile_comment_tbl
    	VALUES (comment_code_seq.nextval, #{user_code}, #{comment_context}, sysdate, #{writer_code})
    </insert>
    
    <select id="getCommentInfo" parameterType="int" resultType="com.stim.vo.ProFileVO">
       SELECT comment_code, 
       c.user_code AS user_code,  
       u.user_nickname AS comment_nickname,
       comment_context, 
       profile_regdate,
       user_picture, 
       writer_code
	   FROM user_tbl u, profile_comment_tbl c
       WHERE u.user_code = c.writer_code
       AND c.user_code = (SELECT user_code FROM user_tbl WHERE user_code = #{user_code})
       ORDER BY profile_regdate desc
    </select>
    
    <select id="SelectMyGames" parameterType="int" resultType="com.stim.vo.ProFileVO">		
    	SELECT g.game_name AS game_name, g.game_picture AS game_picture 
		FROM mygame_tbl m, game_tbl g
		WHERE g.game_code=m.game_code
		AND m.user_code = #{user_code}
    </select>
    
    <update id="updateProfileContext" parameterType="com.stim.vo.ProFileVO">
    	SELECT profile_comment_tbl
    	SET profile_context = #{profile_context}
    	WHERE user_code = #{user_code}
    </update>

    <update id="UpdatePicture" parameterType="com.stim.vo.ProFileVO">
		UPDATE user_tbl
		SET user_picture = #{user_picture}
		WHERE user_code = #{user_code}
    </update>
    
    <select id="SelectMyFriends" parameterType="int" resultType="com.stim.vo.ProFileVO">
    	SELECT user_code, 
    		   user_picture AS friend_picture, 
    		   user_nickname AS friend_nickname 
		FROM user_tbl 
		WHERE user_code IN(SELECT friend_user1 FROM friend_tbl WHERE friend_user2 = #{user_code} AND friend_accepted='Y') 
		OR user_code IN(SELECT friend_user2 FROM friend_tbl WHERE friend_user1= #{user_code} AND friend_accepted='Y')	
    </select>
    
    <delete id="DeleteCommentByCode"  parameterType="int">
    	DELETE profile_comment_tbl
    	WHERE comment_code = #{comment_code}
    </delete>
    
   <select id="selectFriendRequest" parameterType="int" resultType="com.stim.vo.ProFileVO">
		SELECT friend_code, 
 	    friend_user1 AS requester,
	    (SELECT user_nickname FROM user_tbl WHERE friend_user1 = user_code) AS req_nickname,
	    (SELECT user_picture FROM user_tbl WHERE friend_user1 = user_code) AS req_picture, 
	    friend_accepted
	    FROM friend_tbl, user_tbl u
	   WHERE u.user_code = #{user_code} AND friend_user2 = #{user_code} AND friend_accepted = 'N' 
    </select>
    
    <delete id="deleteFriendRequest" parameterType="int">
    	DELETE friend_tbl
    	WHERE friend_code = #{friend_code}
    </delete>
    
    <update id="updateFriendRequest" parameterType="int">
    	UPDATE friend_tbl
    	SET friend_accepted = 'Y'
    	WHERE friend_code = ${friend_code}
    </update>
    
    
    
</mapper>
