<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
   	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id = "mainGame" class = "contain">
				<h1>인기 추천</h1>
				<div id = "mainGame1">
					<a href = ""><img  src="" alt=""></a>
				</div>
				<div th:each="popGame : ${popList}">
					<div class="subG">
						<a th:href="|@{/gameDetailView(game_code=${popGame.game_code})}|"><img th:src="@{'/image/game/' + ${popGame.game_picture}}"></a>
					</div>
				</div>
			</div>
			<div class="swiper contain" id="newGame">
                <div class="swiper-wrapper">
                    <div class="swiper-slide newSubG" th:each="newGame : ${newList}">
                        <a th:href="|@{/gameDetailView(game_code=${newGame.game_code})}|"><img th:src="@{'/image/game/'+${newGame.game_picture}}"></a>
                        <p th:text="${newGame.game_name}"></p>
                        <p th:text="${#dates.format(newGame.game_releaseDate, 'yyyy-MM-dd')}">
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
			
			<div id = "gameTag" class = "contain">
				<h1>추천 장르</h1>
				<div class = "gameTags" th:each="tag : ${tagList}">
					<a href = ""><span th:text="${tag}"></span></a>
				</div>
			</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>