<!DOCTYPE HTML>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" />
	<title>Stim Pack 고객 지원</title>
	<link rel="shortcut icon" th:href="@{/image/favicon.ico}">
	<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/support.css}">
	<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/support.js}"></script>
</head>
<body>
    <!-- header fragment 사용 -->
    <th:block th:replace="fragments/header/header :: headerFragment"></th:block>
    <div id="container">
    	<div id="supportPage">
    		<h1>Stim Pack 고객 지원</h1>
    		<p>무엇을 도와드릴까요?</p>
    		<h4>[FAQ] 자주 묻는 질문</h4>
    		<div id="listWrap">
    			<ul>
    				<li>
    					<div class="question">
    						<h3>계정이 도난당했으면 어떻게 하나요?</h3>
    						<button onclick="show1()" id="downBtn1" class="downBtn">▼</button>
    						<button onclick="hide1()" id="upBtn1" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box1">
    						<p>계정을 도난당했거나 해킹당했을 경우, 계정을 복구하기 전에 아래 과정을 따라 계정을 다시 도난당하지 않도록 보호하세요.
								<br><br>
								<span>1단계 - 컴퓨터를 검사하세요</span><br>
								바이러스, 키 로거, 스파이웨어 그리고 다른 악의적인 코드가 귀하의 계정과 비밀번호를 훔쳐갈 수 있습니다. 
								계정 비밀번호를 재설정하기 전 바이러스 및 스파이웨어 검사기를 돌리셔서 귀하의 컴퓨터가 안전한 것을 확인하십시오.
								<br><br>
								<span>2단계 - 이메일 계정의 비밀번호를 변경하세요</span><br>
								계정은 일반적으로 연결된 이메일 계정이 도용될 때 함께 도용됩니다. 
								이메일 계정의 비밀번호를 변경하면 해커가 계정을 또 한번 도용하거나 고객지원의 도움을 방해하지 못하도록 막을 수 있습니다.</p>
    					</div>
    				</li>
    				<li>
    					<div class="question">
    						<h3>환불 신청은 어떻게 하나요?</h3>
    						<button onclick="show2()" id="downBtn2" class="downBtn">▼</button>
    						<button onclick="hide2()" id="upBtn2" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box2">
    						<p>환불은 하단의 [문의 등록]에서 계좌정보(예금주/은행명/계좌번호)를 입력하여 문의해주시면 됩니다.
    						<br><br>
    						환불 시 환불 금액의 10%를 환불 수수료로 공제한 금액을 환불해 드리며, 
    						환불 금액이 10,000원 미만인 경우 1,000원을 환불 수수료로 공제합니다. 
    						환불 금액이 1,000원 이하인 경우에는 환불이 불가능합니다.</p>
    					</div>
    				</li>
    				<li>
    					<div class="question">
    						<h3>라이브러리에 게임이 보이지 않습니다.</h3>
    						<button onclick="show3()" id="downBtn3" class="downBtn">▼</button>
    						<button onclick="hide3()" id="upBtn3" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box3">
    						<p>이메일을 확인하여 구매 영수증을 받았는지 확인하세요. 영수증을 받지 못했다면 구매가 아직 보류 중일 수 있습니다.
								구매 기록에서 해당 구매를 찾은 후 선택하면, 상태를 확인할 수 있습니다.
								<br><br>
								구매가 완료되었는데 게임을 찾을 수 없다면 로그아웃한 후 다시 로그인해 보세요.</p>
    					</div>
    				</li>
    				<li>
    					<div class="question">
    						<h3>Stim 계정에 연결된 이메일 주소를 어떻게 변경하나요?</h3>
    						<button onclick="show4()" id="downBtn4" class="downBtn">▼</button>
    						<button onclick="hide4()" id="upBtn4" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box4">
    						<p>이메일 주소는 간단히 바꿀 수 있습니다.
							<br><br>
							Stim 오른쪽 상단에 있는 프로필 사진을 클릭하여 프로필 페이지로 이동하세요. 
							[정보 수정]을 선택해 새 이메일을 입력하고 [수정하기]를 누릅니다.
							<br><br>
							이 과정 중에 오류 메시지가 표시되는 경우, 잠시 기다린 후 다시 시도해 보세요. 고객지원에 도움을 요청하세요.</p>
    					</div>
    				</li>
    				<li>
    					<div class="question">
    						<h3>환불 금액을 받지 못했습니다.</h3>
    						<button onclick="show5()" id="downBtn5" class="downBtn">▼</button>
    						<button onclick="hide5()" id="upBtn5" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box5">
    						<p>먼저, 일반적인 환불금액의 입금은 최대 3영업일 정도의 시간이 소요될 수 있습니다. 아직 환불금이 입금되지 않았다면, 
    						환불 신청 후 아직 입금기간이 되지 않은 것은 아닌지 확인해 주시기 바랍니다.
    						<br><br>
							입금기간이 지났음에도 입금되지 않았다면 환불이 아닌<b>"결제취소"</b>로 처리되었거나 <b>"입금정보 불일치"</b>로 인해 환불이 지연되고 있을 수 있습니다. 
							혹시라도 아래와 같은 상황이 아닌지 확인해 주시길 부탁 드립니다.
							<br><br><br>
							<span>1. 결제취소란?</span>
							<br>
							별도의 환불금 입금이 아닌, 결제 내역이 취소되며 각 결제 수단 업체별로 절차가 진행 됩니다
							<br><br>
							<b>Stim에서 신용카드로 구매 하신 경우</b>
							<ul>
								<li>결제 취소가 진행되며 3 ~ 7영업일 후 카드사에서 확인 가능</li>
								<li>이미 카드사 납부가 완료된 상태에서도 각 카드사 별 처리</li>
							</ul>
							<br>
							<b>Stim에서 실시간 계좌이체로 구매하신 경우</b>
							<ul>
								<li>결제일로부터 60일이내 환불 요청 시, 결제취소로 진행되며 3영업일 내 결제한 계좌로 재 입금</li>
							</ul>
							<br><br>
							<b>Stim에서 당월 ARS/휴대폰으로 구매 하신 경우</b>
							<ul>
								<li>별도의 환불금 없이 익월 청구서에서 제외됨</li>
							</ul>
							 <br><br><br>
							
							 
							<p>
							<span>2. 입금 정보 불일치란?</span>
							<br>
							접수된 환불 정보가 블리자드 계정의 명의와 다른 타인 명의 은행 계좌이거나, 계좌번호에 오타가 있는 잘못된 계좌일 경우로 환불 입금이 정상적으로 처리되지 않습니다
							<br><br>
							만약 위에 안내된 입금 기간이 지났고 결제취소 된 것도 아니나 환불 입금이 지연되고 있는 경우,  “입금 정보”가 잘못 접수된 것은 아닌지 확인 부탁 드립니다.
							이 경우, 별도의 메일을 발송해 드릴 예정입니다. 메일 확인 후 안내된 양식에 따라 계좌정보를 다시 보내주시길 부탁 드립니다.
							</p>
    					</div>
    				</li>
    				<li>
    					<div class="question">
    						<h3>계정이 비활성화되었습니다.</h3>
    						<button onclick="show6()" id="downBtn6" class="downBtn">▼</button>
    						<button onclick="hide6()" id="upBtn6" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box6">
    						<p>계정이 비활성화되는 이유는 크게 5가지로 구분합니다.<br>
    						<br>
							1. 경고를 한 번 이상 받은 이후에도 시정하지 않은 경우 <br>
							2. 타인에 대한 괴롭힘, 광고, 홍보, 이성 교제, 기타 부적절한 행위 들을 목적으로 다른 사람을 접촉한 경우 <br>
							3. 가명을 사용한 경우 <br> 
							4. 타인 또는 단체 등을 사칭한 경우<br>
							5. 약관을 위반하는 게시물을 게시한 경우 <br>
							<br>
							<span>해결 방법</span><br>
							등록된 아이디로 [비밀번호 찾기]를 진행하여 비밀번호를 재설정하세요.</p>
    					</div>
    				</li>
    				<li>
    					<div class="question">
    						<h3>안전하게 비밀번호를 관리할 수 있는 방법에는 무엇이 있을까요?</h3>
    						<button onclick="show7()" id="downBtn7" class="downBtn">▼</button>
    						<button onclick="hide7()" id="upBtn7" class="upBtn">▲</button>
    					</div>
    					<div class="answer" id="box7">
    						<p>
    						1. LastPass, KeePass, 1Password 등 별도의 비밀번호 관리 프로그램을 이용하여 더욱 더 안전하게 이용하실 수 있습니다.<br>
							2. 실제 사용하는 단어 대신, 각 문자별로 연관이 없는 비밀번호 조합을 선택해주세요. 비밀번호는 길이가 길고, 조합이 무작위일수록 안전합니다.<br>
							3. 이용하시는 이메일 계정을 안전하게 관리해주세요. 예를 들어, 지메일의 경우 Google 보안설정을 통해 안전하게 이용하실 수 있습니다.<br>
							4. PC방 등과 같이 공용 PC를 이용하거나 타인의 PC를 통해 플레이 하셨다면 반드시 로그아웃을 해주시기 바랍니다.<br>
							5. 절대 타인과 계정을 공유하지 않도록 주의를 부탁드립니다.<br>
							6. 타인에게 절대 계정정보를 안내해주지 말아주시기 바랍니다.</p>
    					</div>
    				</li>
    			</ul>
    		</div>
    		
    		
    	</div>
    </div>
    <!-- footer fragment 사용 -->
    <th:block th:replace="fragments/footer/footer :: footerFragment"></th:block>
</body>
</html>