@charset "UTF-8";

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
    min-width: 1920px;
    background-color: #0E1B49;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#header {
    width: 100%;
    max-width: 1560px;
    min-width: 1200px;
    height: 150px;
    margin: 0 auto;
    background-color: #0E1B49;
}
#stim_logo {
    float: left;
    height: 150px;
    width: 300px;
    margin-left: 100px;
}
#headerNav {
	margin-top: 25px;
    float: left;
    width: auto;
    height: 100px;
}
#headerNav > ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#headerNav > ul > li {
    display: table-cell;
    padding: 0 10px;
}
#headerNav > ul > li > a {
    display: inline-block;
    width: 100px;
    height: 60px;
    font-weight: 600;
    padding: 40px 0;
    font-size: 16px;
    color: white;
    position: relative;
    text-align: center;
}
#headerNav > ul > li > a.active::before {
    width: 100%;
}
#headerNav > ul > li > a:hover {
    color: #00AEEF;
}
#headerNav > ul > li > a:hover::before {
    width: 100%;
}
#headerNav > ul > li > a::before {
    content: "";
    display: block;
    border-bottom: 4px solid #00AEEF;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    transition: width 280ms ease-in-out;
}
#loginBox {
	float: right;
	margin-right: 150px;
	margin-top: 40px;
	padding:20px;
}
#loginBox > button {
	width: 80px;
	height: 40px;
	border-radius: 10px;
}
#loginBox > button:hover {
	background-color: #1E3D65;
	color: white;
	box-shadow: 5px #222;
	cursor: pointer;
}
#gameNav {
	width: 100%;
	background-color: #111;
}
#gameNavBox {
	clear: both;
	width: 100%;
	min-width: 1200px;
	max-width: 1560px;
	margin: 0 auto;
	height: 50px;
	position: relative;
}
#gameNavBox > section {
	float: left;
	color: white;
}
#gameNavBox > section > ul {
    display: table;
    margin-left: 150px;
}
#gameNavBox > section > ul > li {
    display: table-cell;
    padding: 0 10px;
}
#gameNavBox > section > ul > li > a {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-weight: 600;
    padding-top: 15px;
    font-size: 16px;
    color: white;
    position: relative;
    text-align: center;
}
#gameNavBox > section > ul > li > a:hover{
	color: #00AEEF;
}
#serch {
	float: right;
	height: 35px;
	margin-right: 170px;
	margin-top:6px;
	padding: 0;
}
#serch>input[type=text]{
	width: 320px;
	height:38px;
	border:0;
	border-radius: 10px;
	padding: 3px 20px;
	background-color: white;
	color: #222;
}
#serch>input[type=text]:focus{
	background-color: white;
	color: #222;
}
#serch>input[type=submit]{
	width: 50px;
	height:38px;
	border:0;
	border-radius: 10px;
}
#serch>input[type=submit]:hover {
	background-color: #1E3D65;
	color: white;
	box-shadow: 5px #222;
	cursor: pointer;
}

/* login header */
#loginBox_2 {
	float: right;
	margin-right: 150px;
	margin-top: 30px;
}

#profilePicture {
	width: 80px;
	height: 80px;
	float: right;
}

#headUserInfo {
	min-width: 120px;
	height: 60px;
	float: left;
	text-align: center;
	margin-right: 10px;
	padding-top: 5px;
}

#userNickName {
	color: white;
}

#headLogout {
	margin: 10px auto;
	padding: 5px 10px;
	border-radius: 5px;
}

#wishcartTag {
	clear: both;
	float: right;
	padding-top: 5px;
	text-align: center;
}

#wishcartTag > a {
	color: white;
}

#wishcartTag > a:hover {
	color: #00AEEF;
}

#cartTag {
	margin-left: 20px;	
}

/* content */
#container{
	width: 100%;
    background-color: #0E1B49;
}

/* footer */
footer{
	width: 100%;
	background-color: black;
    border-top: 1px solid #ccc;
}
#footerBox {
	clear: both;
    width: 100%;
    max-width: 1560px;
    min-width: 1200px;
    height: 200px;
    margin: 0 auto;
    font-size: 13px;
}
footer > div{
    height: 50%;
}
#foot_text{
    color: rgba(204, 204, 204, 0.8);
}
#footerLogo {
    width: 380px;
    height: 100%;
    float: left;
    margin-left: 280px;
}
#foot_text{
    float: left;
    width: 680px;
    height: 80px;
    margin-top: 98px;    
}
#foot_text a{
    text-decoration: none;
    color:white;
    border-right: 1px solid #ccc;
    padding-right : 10px;
    padding-left: 5px;
}
#foot_text a:last-child{
    border: none;
}
#foot_text a:hover{
    color: #ccc;
}
#sns{
    width: 20%;
    float: left;
    margin-top: 98px;    
}
#sns a{
    color: #ccc;
    float: left;
    width: 120px;
}
#sns img{
    width: 20%;
    height: 10%;
}