<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<footer th:fragment="footerFragment">
	<img id="footerLogo" th:src="@{/image/stim_logo_white.png}" alt="logo">
       <div id="foot_text">
           <div>
               © 2022Valve Corporation. All rights reserved. 모든 상표는
               미국 및 기타 국가에서 해당하는 소유자의 재산입니다.
           </div>
           <div>
               부가가치세 포함  
               <a href="" target="_blank">개인정보 보호정책</a>
               <a href="" target="_blank">사용권</a>
               <a href="" target="_blank">Steam 이용 약관</a>
               <a href="" target="_blank">환불</a>
               <a href="" target="_blank">쿠키</a>
           </div>   
       </div>
       <div id="sns">
           <a href="" target="_blank"> <img th:src="@{/image/icon_facebook.png}" alt="facebook"> &nbsp; @Stim </a>
           <a href="" target="_blank"> <img th:src="@{/image/icon_Twit.png}" alt="twitter"> &nbsp; @Stim</a>  
       </div>
</footer>
</html>